/*!
 * Bootstrap v2.1.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
 
 a:hover, a:focus, a:active {

   -moz-outline-style: none;
    -moz-focus-inner-border: 0; 
    outline: none;
    outline-style: none; 
    }
    
    
 /*!
 * PLAYERCARD
 */

 #playercard-large-wrap{
     font-family: 'Bebas Regular';
     margin-top:13px;
  width:622px;
  margin-left:auto;
  margin-right:auto;
     
 }
 
 #agents-header-wrap{
     margin-top:55px;
     margin-bottom:100px;
     margin-left:40px;
 }
 

 #free-header{
     
      width:200px;
font-size:5em;
color:#555555;
font-weight:500;
 }
 
  #agents-header{
      
 margin-top:45px;
     width:200px;
font-size:5em;
color:#9d1010;
font-weight:500;
 }
 
 
  #playercard-large-bg{
      height:250px;
  width:622px;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #c8c8c8;
  background-image:url("../img/agents-bg.png");
  }
 
 #playercard-name-wrap{
    margin-left:20px;
    margin-top:20px;
    width:auto;
}

#playercard-firstname{
   font-size:1.5em;
color:#767676;
font-weight:500;

}

#playercard-nickname{
margin-top:15px;
font-size:3.2em;
color:#000;
font-weight:500;
width:auto;
}


#playercard-lastname{
    margin-top:17px;
   font-size:1.5em;
color:#767676;
font-weight:500;

}

 #playercard-info-wrap{
     margin-top:30px;  
     margin-left:20px;
     font-size:1.3em;
  width:622px; 
  line-height:20px;
 
 }

 #playercard-social-wrap{
     margin-top:40px;  
     margin-left:0px;
     font-size:1.3em;
  width:622px; 
  line-height:20px;
 
 }
 
 
 #playercard-facebook{
 }
 
 #playercard-twitter{
     margin-top:10px;
 }
 
 
 .playerheight{
     line-height:40px;
 }

.align-right{
    text-align:right;
}


/*!
 * MATCH INFO UNDER CARD
 */
 
  #match-info-wrap{
     margin-top:33px;   
  width:622px;
  margin-left:auto;
  margin-right:auto; 
 }


 .nav-matchtabs > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right:8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
            font-family: 'Bebas Regular';
              background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */   

}

.igl-red{
    color:#981e1d;
}

.content-header-style{
    font-weight: 500;
}

.nav-matchtabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-matchtabs > .active > a,
.nav-matchtabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
