body { 
background:#fff url('/img/main_bg.gif'); 
margin:0; padding:0; 
}

td { padding:0; margin:0; min-width:0px;}

#brackets {
    position:relative;
    width:976px;
    height:600px;
    text-shadow: 1px 1px #333
}

#bracket-container {
    width:976px;
    margin:0 auto;
}

#brackets .champion-text {
    line-height:25px; font-weight:bold; color:#333; font-size:18px; text-align:center;
    text-shadow: none;
}

#brackets .winner-text {
    line-height:25px; font-weight:bold; color:#333; font-size:12px; text-align:center;
    text-shadow: none;
}

#brackets .bracket-table {
    height:100%; width:100%;
}

#brackets .round_details {
    width:120px; height:120px;
}

#brackets .match { 
height:55px; 
width:110px; 
}
#brackets .match-large { 
height:35px; 
width:150px; 
}
#brackets .team { 
height:25px; 
background:#777; 
border-radius:3px;
}
#brackets .team-large { 
height:35px; 
background:#777; 
border-radius:3px;
}
#brackets .highlight{ 
    -moz-box-shadow:    1px 1px 2px 1px #333;
    -webkit-box-shadow: 1px 1px 2px 1px #333;
    box-shadow:         1px 1px 2px 1px #333;
}
#brackets .team1 { 
margin-bottom:5px; 
}
#brackets .team2 {

}
#brackets .team .num { 
background-color: #666;
color: #FFFFFF;
font-size: 13px;
height: 25px;
line-height: 25px;
text-align: center;
width: 28px;
} 
#brackets .team .num-large { 
background-color: #666;
color: #FFFFFF;
font-size: 13px;
height: 35px;
line-height: 35px;
text-align: center;
width: 30px;
font-size:14px;
} 
#brackets .num.left {
float: left;
margin-right:5px;
 border-radius:3px 0 0 3px;   
}
#brackets .num.right {
float: right;
border-radius:0 3px 3px 0;
}
#brackets .team .name { 
color:#fff;
font-size:13px;
line-height: 25px;
font-weight: bold;
} 
#brackets .team .name-large { 
color:#fff;
font-size:13px;
line-height: 35px;
font-weight: bold;
font-size:14px;
} 
#brackets .team .score { 
background-color: #3F3F3F;
color: #FFFFFF;
float: right;
font-size: 13px;
height: 25px;
line-height: 25px;
text-align: center;
width: 25px;
font-weight:bold;

border-radius:0 3px 3px 0;
} 
#brackets .score.left {
 float: right;
 border-radius:0 3px 3px 0;   
}
#brackets .score.right {
float: left;
margin-right:5px;
border-radius:3px 0 0 3px;  
}

#brackets .team .score.win { 
background-color: #8B0000;
}
#brackets .team .score.lose { 
background-color: #3f3f3f;
}

#brackets .match-line {
background-color: #C9C9C9;
width:2px; margin:0; padding:0;
}

#brackets .match-line-col {
    width:10px; padding-left:6px;
}