/*!
 * Dashboard
 *
 */
 
    #teamlistwrap{
        margin-left:20px;
    }
    
    #profilewrap{
        margin-left:20px;
    }
    
    
    .dashboard-font{
        font-size:1.4em;
        font-weight:400;
        line-height:45px;
    }
    
     .teamname-font a{
        color:#555555;
        font-family: 'Open Sans', sans-serif;
        font-size:1.2em;
        font-weight:400;
        line-height:45px;
    }
    
    .teameditfont{
        font-size:.6em;
        color:#000;
        font-family: 'Open Sans', sans-serif;
    }
    
   
    li 
    {
        line-height:30px;
    }
    
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
margin-bottom:30px;
    
}


.tabs-left > .nav-tabs > li > a:hover {

      border: 1px solid;
      border-right:0px;
  border-color:#b8b8b8;
  color:#4f4f4f;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
background-image:url(../img/main_bg.gif);
border-right:none;
}

.tabbable{
    margin-top:30px;
}




.nav-tabs-dashboard > li > a {
padding-top: 2px;
padding-bottom: 0px;
margin-right:8px;
width:230px;

border-right:none;
border-color:#b8b8b8;
-webkit-border-radius: 8px 8px 0 0;
-moz-border-radius: 8px 8px 0 0;
border-radius: 8px 8px 0 0;

font-family: 'Open Sans', sans-serif;
font-size:1.4em;
font-weight: 800;

background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */   

}


    
    
 /*!
 * PROFILE/PLAYERCARD
 */

#playercard-large-wrap{
    font-family: 'Open Sans', sans-serif;
    margin-top:13px;
    width:622px;
    margin-left:auto;
    margin-right:auto;
 }
 
 #playercard-image{
     margin-left:30px;
     margin-top:30px;
     width:160px;
    height:160px;
 }
 
#playercard-large-bg{
    height:250px;
    width:622px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #c8c8c8;
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
 
 #playercard-name-wrap{
    margin-left:20px;
    margin-top:20px;
    width:auto;
}

#playercard-firstname{
   font-size:1.5em;
    color:#767676;
    font-weight:500;
}

#playercard-nickname{
    margin-top:15px;
    font-size:3.2em;
    color:#000;
    font-weight:500;
    width:auto;
}


#playercard-lastname{
    margin-top:17px;
    font-size:1.5em;
    color:#767676;
    font-weight:500;
}

#playercard-info-wrap{
     margin-top:30px;  
     margin-left:20px;
     font-size:1.3em;
    width:622px; 
    line-height:20px;
}

 #playercard-social-wrap{
     margin-top:40px;  
     margin-left:0px;
     font-size:1.3em;
  width:622px; 
  line-height:20px;
 
 }
 
 
 #playercard-facebook{
 }
 
 #playercard-twitter{
     margin-top:10px;
 }
 
 
 .playerheight{
     line-height:40px;
 }

.align-right{
    text-align:right;
}


/*!
 * MATCH INFO UNDER CARD
 */
 
  #match-info-wrap{
     margin-top:33px;   
  width:622px;
  margin-left:auto;
  margin-right:auto; 
 }


 .nav-matchtabs > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right:8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
            font-family: 'Open Sans', sans-serif;
              background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */   

}

.igl-red{
    color:#981e1d;
}

.content-header-style{
    font-weight: 500;
}

.nav-matchtabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-matchtabs > .active > a,
.nav-matchtabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

  /* some styling for triggers */
  #triggers {
 padding-bottom: 10px
  }

  #triggers img {
  cursor:pointer;
  margin:0 5px;
  background-color:#fff;
  border:0px solid #ccc;
  padding:2px;

  -moz-border-radius:4px;
  -webkit-border-radius:4px;

  }

    /* styling for elements inside overlay */
  .details {
  position:absolute;
  margin-top:20px;
  margin-left:20px;
  font-size:11px;
  width:600px;
    color:#555555;
  }

  .details h3 {
  font-size:2em;

  }
 
/* the overlayed element */
.simple_overlay {
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */ 
    
    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:9999;

    /* styling */
    
    width:700px;
    height:400px;
    border:1px solid #666;
 

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

#create-team-wrap{
    overflow:auto;
    height:340px;
    width:660px;
    
}

.hr{
    color:#000;
}

#logoupload{
    height:30px;
}