.post { clear:both }
.table td { vertical-align: top !important; }
.voting {
  white-space: nowrap;
}
.voting a {
  color: #333333;
  text-decoration: none;
}
.voting a.active {
  color:#BD4140 !important;
}
.post .description {
  width: 100%;
}
a.tag {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  color: #555555;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 0 7px;
}
a.tag.active {
  background: url("/img/tag_remove.png") no-repeat scroll 7px center #555555;
  color: #FFFFFF;
  padding-left: 21px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.post-link {
  font-weight: bold;
}
.post h5 {
  margin:0;
}
.post .description .byline {
  margin-bottom: 0;
}
.byline, .byline a.user-link {
  color: #777777;
}
.user-img img {
  height:20px;
  width:20px;
}
.row input[type="text"] {
  height:20px !important;
}
.row textarea[class*="span"], .row textarea {
  height: 80px !important;
}
form.post-form textarea {
  height: 150px !important;
}
.row select {
  height: 30px !important;
  margin-top: 0;
}
input.tag-checkbox {
  display: none;
}
.row .post p, .row .comment p {
  font-size:13px;
}
.row .post h2, .row .comment h2 {
  font-size:24px;
  margin-top:0;
}
.row .post .forum-edit, .row .comment .forum-edit {
  display:none;
}
.comment .comment-form {
  display:none;
}
.row .post .twitter-share-button {
  float:left;
  vertical-align:middle;
  display:none;
}

.row .post .btn-mini, .row .comment .btn-mini {
  display:none;
}

.row .post:hover .twitter-share-button, .row .post:hover .btn-mini, .row .comment:hover .btn-mini {
  display:inline-block;
}