/* line 31, landing.scss */
body.landing .wrap {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding-top: 0;
}
/* line 39, landing.scss */
body.landing header {
  background-color: #aa2321;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aa2321), to(#741616));
  background-image: -webkit-linear-gradient(top, #aa2321, #741616);
  background-image: -moz-linear-gradient(top, #aa2321, #741616);
  background-image: -o-linear-gradient(top, #aa2321, #741616);
  background-image: linear-gradient(to bottom, #aa2321, #741616);
  height: 60px;
  padding: 0;
}
/* line 44, landing.scss */
body.landing header .logo {
  display: inline-block;
  height: 41px;
  padding: 11px 0 0;
  width: 143px;
}
/* line 51, landing.scss */
body.landing header ul.menu {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
/* line 58, landing.scss */
body.landing header ul.menu li {
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
  display: inline-block;
}
/* line 63, landing.scss */
body.landing header ul.menu li a {
  color: #FFFFFF;
  display: inline-block;
  font-weight: 700;
  padding: 21px 15px 21px;
  text-shadow: 1px 1px 1px #6b1414;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 70, landing.scss */
body.landing header ul.menu li a:hover {
  text-decoration: none;
  background-color: #741616;
}
/* line 79, landing.scss */
body.landing .subnav {
  background-image: url("../img/cta-bg.jpg");
  background-position: center top;
  background-repeat: repeat;
  margin: 0;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) inset;
  text-align: right;
}
/* line 87, landing.scss */
body.landing .subnav ul.menu {
  font-size: 14px;
  list-style: none outside none;
  margin: 10px 0;
  padding: 0;
}
/* line 92, landing.scss */
body.landing .subnav ul.menu li {
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
  display: inline-block;
  float: none;
}
/* line 98, landing.scss */
body.landing .subnav ul.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  display: inline-block;
  border-radius: 3px;
}
/* line 104, landing.scss */
body.landing .subnav ul.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 107, landing.scss */
body.landing .subnav ul.menu li a.active {
  background-color: rgba(145, 28, 28, 0.7);
}
/* line 115, landing.scss */
body.landing .cta-slider {
  background-image: url("../img/cta-bg.jpg");
  background-position: center top;
  background-repeat: repeat;
  margin: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) inset;
}
/* line 123, landing.scss */
body.landing .cta-slider .overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 240px;
  margin: 0;
  padding: 70px 0;
  position: relative;
  width: 100%;
}
/* line 131, landing.scss */
body.landing .cta-slider h2 {
  color: #fff;
  margin: 0 0 20px;
  font-size: 32px;
}
/* line 136, landing.scss */
body.landing .cta-slider a.competitor-btn {
  color: #fff;
  background: #991F1E;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 11px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #da403e;
  text-shadow: 1px 1px 1px #490e0e;
  font-size: 22px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 153, landing.scss */
body.landing .cta-slider a.competitor-btn:hover {
  text-decoration: none;
  background: #A72124;
}
/* line 159, landing.scss */
body.landing .cta-slider h3.popular {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0 20px;
}
/* line 165, landing.scss */
body.landing .cta-slider .stats {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  padding: 50px 0;
  text-align: center;
}
/* line 171, landing.scss */
body.landing .cta-slider .stats .players {
  display: block;
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 5px;
}
/* line 177, landing.scss */
body.landing .cta-slider .stats .teams {
  display: block;
  font-size: 32px;
  line-height: 38px;
  padding: 10px 0 0;
  margin-bottom: 0;
}
/* line 184, landing.scss */
body.landing .cta-slider .stats .bold {
  font-weight: bold;
}
/* line 187, landing.scss */
body.landing .cta-slider .stats a {
  color: #fff;
}
/* line 189, landing.scss */
body.landing .cta-slider .stats a:hover {
  color: #AB0909;
  text-decoration: none;
}
/* line 195, landing.scss */
body.landing .cta-slider ul.matches {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 199, landing.scss */
body.landing .cta-slider ul.matches li {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 169px;
}
/* line 205, landing.scss */
body.landing .cta-slider ul.matches li.last {
  margin: 0;
}
/* line 208, landing.scss */
body.landing .cta-slider ul.matches li a img {
  border: 8px solid #FFFFFF;
  border-radius: 100px 100px 100px 100px;
  height: auto;
  width: 156px;
}
/* line 214, landing.scss */
body.landing .cta-slider ul.matches li a.cta-item {
  background-color: #ab2020;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ab2020), to(#7f1a19));
  background-image: -webkit-linear-gradient(top, #ab2020, #7f1a19);
  background-image: -moz-linear-gradient(top, #ab2020, #7f1a19);
  background-image: -o-linear-gradient(top, #ab2020, #7f1a19);
  background-image: linear-gradient(to bottom, #ab2020, #7f1a19);
  border-top: 1px solid #e36868;
  text-shadow: 1px 1px 0 #551110;
  bottom: -5px;
  position: absolute;
  right: 0;
  width: 159px;
  color: #fff;
  border-radius: 5px;
  padding: 8px 5px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
}
/* line 227, landing.scss */
body.landing .cta-slider ul.matches li a.cta-item:hover {
  background: #991F1E;
}
/* line 235, landing.scss */
body.landing .content-wrap {
  border-top: 2px solid #FFFFFF;
  box-shadow: 0 30px 30px #C4C4C4 inset;
  padding: 40px 0;
}
/* line 240, landing.scss */
body.landing .content-wrap .sidebar {
  width: 160px;
}
/* line 242, landing.scss */
body.landing .content-wrap .sidebar ul.sub-menu {
  background: url("/img/landing/submenu-icon.png") top center no-repeat;
  margin: 0 auto;
  padding: 73px 0 0;
  list-style: none;
  width: 160px;
  font-size: 17px;
}
/* line 249, landing.scss */
body.landing .content-wrap .sidebar ul.sub-menu li {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 254, landing.scss */
body.landing .content-wrap .sidebar ul.sub-menu li a {
  display: block;
  border-radius: 3px;
  padding: 6px 0;
  color: #333333;
}
/* line 259, landing.scss */
body.landing .content-wrap .sidebar ul.sub-menu li a:hover {
  background-color: #e3e3e3;
}
/* line 262, landing.scss */
body.landing .content-wrap .sidebar ul.sub-menu li a.active {
  background-color: #901d1c;
  box-shadow: 0 1px 0 #ffffff;
}
/* line 265, landing.scss */
body.landing .content-wrap .sidebar ul.sub-menu li a.active:hover {
  background-color: #901d1c;
}
/* line 273, landing.scss */
body.landing .content-wrap .content {
  margin-right: 0;
  width: 740px;
  margin-left: 40px;
  line-height: 21px;
  font-size: 14px;
}
/* line 279, landing.scss */
body.landing .content-wrap .content h1 {
  font-size: 28px;
}
/* line 282, landing.scss */
body.landing .content-wrap .content h2 {
  font-size: 24px;
}
/* line 285, landing.scss */
body.landing .content-wrap .content h3 {
  font-size: 20px;
}
/* line 293, landing.scss */
body.landing .cta-elevate {
  border-top: 2px solid #FFFFFF;
  box-shadow: 0 30px 30px #C4C4C4 inset;
  padding: 50px 0 70px;
}
/* line 298, landing.scss */
body.landing .cta-elevate h3 {
  font-size: 32px;
  margin: 0 0 40px;
  text-align: center;
}
/* line 303, landing.scss */
body.landing .cta-elevate .cta-item {
  text-align: center;
  padding: 0 30px;
  width: 240px;
}
/* line 307, landing.scss */
body.landing .cta-elevate .cta-item img.cta-img {
  width: 200px;
  height: auto;
}
/* line 311, landing.scss */
body.landing .cta-elevate .cta-item h4 {
  font-size: 26px;
  line-height: 28px;
  margin: 20px 0 10px;
}
/* line 318, landing.scss */
body.landing .login-area {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 -20px 40px -40px black, 0 20px 40px -40px black;
  margin-bottom: 50px;
  background: url("../img/cta-bg.jpg") top center no-repeat;
  color: #fff;
}
/* line 325, landing.scss */
body.landing .login-area .container {
  padding: 50px 0 60px;
}
/* line 328, landing.scss */
body.landing .login-area .btn {
  width: 190px;
  text-align: center;
}
/* line 331, landing.scss */
body.landing .login-area .btn i {
  float: left;
}
/* line 335, landing.scss */
body.landing .login-area .span4 {
  text-align: center;
}
/* line 338, landing.scss */
body.landing .login-area .left {
  width: 280px;
  padding-left: 20px;
}
/* line 342, landing.scss */
body.landing .login-area .right {
  width: 280px;
  padding-right: 20px;
}
/* line 346, landing.scss */
body.landing .login-area h4 {
  margin-bottom: 15px;
}
/* line 349, landing.scss */
body.landing .login-area .or {
  font-family: "Open Sans", sans-serif;
  background-color: #434343;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  font-weight: bold;
  margin: 30px auto 0;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 23px;
}
/* line 364, landing.scss */
body.landing .games-list {
  margin-bottom: 30px;
}
/* line 366, landing.scss */
body.landing .games-list h3 {
  font-size: 28px;
  margin: 0 0 20px;
  text-align: center;
}
/* line 371, landing.scss */
body.landing .games-list a.game {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 9px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
  color: #333333;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 381, landing.scss */
body.landing .games-list a.game img.game-img {
  max-width: 100%;
  height: auto;
  width: auto;
}
/* line 386, landing.scss */
body.landing .games-list a.game h4 {
  margin: 10px 0 5px;
  text-align: center;
  font-size: 16px;
}
/* line 391, landing.scss */
body.landing .games-list a.game .players {
  display: block;
  font-size: 14px;
  text-align: center;
}
/* line 396, landing.scss */
body.landing .games-list a.game:hover {
  border: 1px solid #D68383;
  text-decoration: none;
  color: #333333;
  margin-top: -2px;
  box-shadow: 0 0 15px -4px #981e1d;
}
/* line 405, landing.scss */
body.landing .teams-list {
  margin-bottom: 30px;
}
/* line 407, landing.scss */
body.landing .teams-list h3 {
  font-size: 28px;
  margin: 0 0 20px;
  text-align: center;
}
/* line 412, landing.scss */
body.landing .teams-list .span2 {
  position: relative;
}
/* line 415, landing.scss */
body.landing .teams-list a.team {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding: 9px;
  width: 120px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 424, landing.scss */
body.landing .teams-list a.team:hover {
  border: 1px solid #D68383;
  margin-top: -2px;
  box-shadow: 0 0 15px -4px #981e1d;
}
/* line 431, landing.scss */
body.landing footer {
  margin-top: 10px;
  padding: 20px 0;
  clear: both;
  background-color: #393939;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#202020));
  background-image: -webkit-linear-gradient(top, #393939, #202020);
  background-image: -moz-linear-gradient(top, #393939, #202020);
  background-image: -o-linear-gradient(top, #393939, #202020);
  background-image: linear-gradient(to bottom, #393939, #202020);
}
/* line 436, landing.scss */
body.landing footer .logo {
  width: 46px;
  height: 40px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
/* line 443, landing.scss */
body.landing footer ul.menu {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}
/* line 447, landing.scss */
body.landing footer ul.menu li {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
}
/* line 452, landing.scss */
body.landing footer ul.menu li a {
  color: #fff;
  font-size: 14px;
}
/* line 458, landing.scss */
body.landing footer a.what-is {
  background-color: #ab2020;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ab2020), to(#7f1a19));
  background-image: -webkit-linear-gradient(top, #ab2020, #7f1a19);
  background-image: -moz-linear-gradient(top, #ab2020, #7f1a19);
  background-image: -o-linear-gradient(top, #ab2020, #7f1a19);
  background-image: linear-gradient(to bottom, #ab2020, #7f1a19);
  border-top: 1px solid #e36868;
  text-shadow: 1px 1px 0 #551110;
  color: #fff;
  border-radius: 5px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  display: inline-block;
  font-size: 14px;
  margin-top: 2px;
}
/* line 471, landing.scss */
body.landing footer a.what-is:hover {
  background: #991F1E;
  text-decoration: none;
}
/* line 480, landing.scss */
body.landing .span-left, body.landing .span-right {
  width: 360px;
  float: left;
  margin-left: 0;
}
/* line 485, landing.scss */
body.landing .span-left {
  margin-right: 20px;
}
/* line 495, landing.scss */
body.landing a.social-icon {
  font-size: 28px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}
/* line 503, landing.scss */
body.landing ul.staff {
  margin: 30px 0 20px;
  padding: 0 35px;
  list-style: none;
}
/* line 507, landing.scss */
body.landing ul.staff li {
  float: left;
  margin: 0 30px 20px 0;
  padding: 0;
  text-align: center;
  width: 200px;
}
/* line 514, landing.scss */
body.landing ul.staff li img.staff-img {
  border-radius: 5px;
  max-width: 100%;
  width: auto;
  height: auto;
}
/* line 520, landing.scss */
body.landing ul.staff li h4 {
  margin-bottom: 5px;
}
/* line 523, landing.scss */
body.landing ul.staff li span.position {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
}
/* line 528, landing.scss */
body.landing ul.staff li.last {
  margin-right: 0;
}
/* line 537, landing.scss */
body.landing .news-wrap ul.nav-pills > .active > a, body.landing .news-wrap ul.nav-pills > .active > a:hover, body.landing .news-wrap ul.nav-pills > .active > a:focus {
  background-color: #8E1C1B;
}
/* line 543, landing.scss */
body.landing .news-wrap .tab-content .tab-pane ul {
  margin: 0;
  padding: 0;
}
/* line 546, landing.scss */
body.landing .news-wrap .tab-content .tab-pane ul li {
  color: #333333 !important;
  clear: left;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  font-weight: normal;
}
/* line 553, landing.scss */
body.landing .news-wrap .tab-content .tab-pane ul li a.news-img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
/* line 558, landing.scss */
body.landing .news-wrap .tab-content .tab-pane ul li a.news-img img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/* line 564, landing.scss */
body.landing .news-wrap .tab-content .tab-pane ul li p {
  margin-bottom: 0px;
  font-size: 16px;
}
/* line 568, landing.scss */
body.landing .news-wrap .tab-content .tab-pane ul li span {
  font-weight: normal;
}
/* line 578, landing.scss */
body.landing ul.press-release {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 582, landing.scss */
body.landing ul.press-release li {
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}
/* line 586, landing.scss */
body.landing ul.press-release li a {
  font-size: 16px;
}
/* line 597, landing.scss */
body.landing .press-kit h4.oath {
  font-size: 16px;
}
/* line 599, landing.scss */
body.landing .press-kit h4.oath div {
  margin-bottom: 8px;
}
/* line 603, landing.scss */
body.landing .press-kit a.download-all {
  clear: both;
  display: block;
  margin: 10px auto;
  width: 260px;
}
/* line 609, landing.scss */
body.landing .press-kit ul.brand-colors {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 10px;
}
/* line 613, landing.scss */
body.landing .press-kit ul.brand-colors li {
  margin: 0 20px 0 0;
  padding: 0;
  width: 162px;
  display: inline-block;
}
/* line 618, landing.scss */
body.landing .press-kit ul.brand-colors li .color-box {
  border: 1px solid #000000;
  height: 90px;
  margin-bottom: 5px;
}
/* line 623, landing.scss */
body.landing .press-kit ul.brand-colors li .red-dark {
  background-color: #6e0000;
}
/* line 626, landing.scss */
body.landing .press-kit ul.brand-colors li .red-light {
  background-color: #ba1a1a;
}
/* line 629, landing.scss */
body.landing .press-kit ul.brand-colors li .black {
  background-color: #000000;
}
/* line 632, landing.scss */
body.landing .press-kit ul.brand-colors li .white {
  background-color: #FFFFFF;
}
/* line 636, landing.scss */
body.landing .press-kit ul.brand-colors li.last {
  margin: 0;
}

.loginform input[type=text], .loginform input[type=password] {
  padding: 9px 9px 10px!important;
  height: 40px!important;
  width: 260px;
}