@mixin gradient($first,$second) {
	background-color: $first;
	background-image: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
	background-image: -webkit-linear-gradient(top, $first, $second);
	background-image:    -moz-linear-gradient(top, $first, $second);
	background-image:      -o-linear-gradient(top, $first, $second);
	background-image:         linear-gradient(to bottom, $first, $second);
}

@mixin radius($value) {
	-webkit-border-radius: $value;
	border-radius: $value;
}
@mixin transition ($time) {
	-webkit-transition: all $time; 
	   -moz-transition: all $time; 
	     -o-transition: all $time; 
	        transition: all $time; 
}

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

$opensans: 'Open Sans', sans-serif;

body.landing {

	.wrap {
		width:100%;
		min-height:100%;
		margin: 0;
		// padding-bottom: 40px;
		padding-top:0;
	}

	header {
		@include gradient(#AA2321,#741616);
		height:60px;
		padding: 0;

		.logo {
			display: inline-block;
			height: 41px;
			padding: 11px 0 0;
			width: 143px;
		}

		ul.menu {
			float:right;
			margin: 0;
			padding: 0;
			list-style: none;
			font-family: $opensans;
			font-size: 16px;
			li {
				list-style: none;
				margin: 0 0 0 5px;
				padding: 0;
				display: inline-block;
				a {
					color: #FFFFFF;
					display: inline-block;
					font-weight: 700;
					padding: 21px 15px 21px;
					text-shadow: 1px 1px 1px darken(#961C1C,10%);
					@include transition(0.4s);
					&:hover {
						text-decoration: none;
						background-color: darken(#961C1C,8%);
					}
				}
			}
		}
	}

	.subnav {
		background-image: url("../img/cta-bg.jpg");
		background-position: center top;
		background-repeat: repeat;
		margin: 0;
		width: 100%;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) inset;
		text-align:right;
		ul.menu {
			font-size: 14px;
			list-style: none outside none;
			margin: 10px 0;
			padding: 0;
			li {
				margin: 0 0 0 5px;
				padding: 0;
				list-style: none;
				display: inline-block;
				float: none;
				a {
					color:#fff;
					text-decoration: none;
					padding: 7px 10px;
					display: inline-block;
					border-radius: 3px;
					&:hover {
						background-color: rgba(255, 255, 255, 0.10);
					}
					&.active {
						background-color: rgba(145, 28, 28, 0.70);
					}
				}
			}
		}
	}

	.cta-slider {
		background-image: url("../img/cta-bg.jpg");
		background-position: center top;
		background-repeat: repeat;
		margin: 0;
		position: relative;
		width: 100%;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) inset;
		.overlay {
			background-color: rgba(0, 0, 0, 0.25);
			height: 240px;
			margin: 0;
			padding: 70px 0;
			position: relative;
			width: 100%;
		}
		h2 {
			color: #fff;
			margin: 0 0 20px;
			font-size: 32px;
		}
		a.competitor-btn {
			color: #fff;
			//@include gradient(#AA2321,#741616);
			background: #991F1E;
			border-radius: 5px;
			color: #FFFFFF;
			display: block;
			font-family: $opensans;
			font-weight: bold;
			margin-top: 11px;
    padding: 20px 0;
			text-align: center;
			text-transform: uppercase;
			border-top: 1px solid lighten(#AA2321,15%);
			text-shadow: 1px 1px 1px darken(#741616,10%);
			font-size: 22px;
			@include transition(0.35s);
			&:hover {
				text-decoration: none;
				background: #A72124;

			}
		}
		h3.popular {
			text-align: center;
			color:#fff;
			text-transform: uppercase;
			margin: 10px 0 20px;
		}
		.stats {
			font-family: $opensans;
			color: #FFFFFF;
			font-weight: bold;
			padding: 50px 0;
			text-align: center;
			.players {
				display: block;
				font-size: 42px;
				line-height: 42px;
				margin-bottom: 5px;
			}
			.teams {
				display: block;
				font-size: 32px;
				line-height: 38px;
				padding: 10px 0 0;
				margin-bottom: 0;
			}
			.bold {
				font-weight: bold;
			}
			a {
				color: #fff;
				&:hover {
					color: #AB0909;
					text-decoration: none;
				}
			}
		}
		ul.matches {
			list-style:none;
			margin: 0;
			padding: 0;
			li {
				margin: 0 20px 0 0;
				padding: 0;
				display:inline-block;
				position:relative;
				width:169px;
				&.last {
					margin: 0;
				}
				a img {
	  				border: 8px solid #FFFFFF;
					border-radius: 100px 100px 100px 100px;
					height: auto;
					width: 156px;
	  			}
	  			a.cta-item {
			  		@include gradient(lighten(#961C1C,5%),darken(#AA2321,10%));
				    border-top: 1px solid lighten(#961C1C,30%);
				    text-shadow: 1px 1px 0 darken(#AA2321,20%);
	  				bottom: -5px;
					position: absolute;
					right: 0;
					width: 159px;
					color: #fff;
					border-radius: 5px;
					padding: 8px 5px;
					text-align:center;
					box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
				    &:hover {
				    	background: #991F1E;
				    }
	  			}
			}
		}
	}

	.content-wrap {
		border-top: 2px solid #FFFFFF;
		box-shadow: 0 30px 30px #C4C4C4 inset;
		padding: 40px 0;

		.sidebar {
			width:160px;
			ul.sub-menu {
				background: url('/img/landing/submenu-icon.png') top center no-repeat;
				margin: 0 auto;
				padding: 73px 0 0;
				list-style: none;
				width:160px;
				font-size:17px;
				li {
					margin: 0 0 5px;
					padding: 0;
					list-style: none;
					text-align:center;
					a {
						display:block;
						border-radius:3px;
						padding: 6px 0;
						color:#333333;
						&:hover {
							background-color:darken(#F0F0F0,5%);
						}
						&.active {
							background-color:#901d1c;
							box-shadow: 0 1px 0 #ffffff;
							&:hover {
								background-color:#901d1c;
							}
						}
					}
				}
			}
		}
		.content {
			margin-right: 0;
			width:740px;
			margin-left:40px;
			line-height:21px;
			font-size:14px;
			h1 {
				font-size:28px;
			}
			h2 {
				font-size:24px;
			}
			h3 {
				font-size:20px;
			}
			p {
			}
		}
	}

	.cta-elevate {
		border-top: 2px solid #FFFFFF;
		box-shadow: 0 30px 30px #C4C4C4 inset;
		padding: 50px 0 70px;
		//background: url('../img/container-hr.png') bottom center no-repeat;
		h3 {
			font-size: 32px;
			margin: 0 0 40px;
			text-align: center;
		}
		.cta-item {
			text-align:center;
			padding: 0 30px;
			width: 240px;
			img.cta-img {
				width:200px;
				height:auto;
			}
			h4 {
				font-size: 26px;
				line-height: 28px;
				margin: 20px 0 10px;
			}
		}
	}
	.login-area {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		box-shadow: 0 -20px 40px -40px black, 0 20px 40px -40px black;
		margin-bottom: 50px;
		background: url("../img/cta-bg.jpg") top center no-repeat;
		color: #fff;
		.container {
			padding: 50px 0 60px;
		}
		.btn {
			width:190px;
			text-align:center;
			i {
				float:left;
			}
		}
		.span4 {
			text-align:center;
		}
		.left {
			width:280px;
			padding-left:20px;
		}
		.right {
			width:280px;
			padding-right:20px;
		}
		h4 {
			margin-bottom:15px;
		}
		.or {
			font-family: $opensans;
			background-color: #434343;
			border-radius: 100px;
			color: #FFFFFF;
			font-size: 16px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
			font-weight: bold;
			margin: 30px auto 0;
			padding: 25px;
			text-align: center;
			text-transform: uppercase;
			width: 23px;
		}
	}
	.games-list {
		margin-bottom:30px;
		h3 {
			font-size: 28px;
			margin: 0 0 20px;
			text-align: center;
		}
		a.game {
			background-color: #FFFFFF;
			border: 1px solid #CCCCCC;
			padding: 9px;
			width: 200px;
			border-radius: 5px;
			margin-bottom: 20px;
			display:inline-block;
			color:#333333;
			@include transition(0.4s);
			img.game-img {
				max-width:100%;
				height:auto;
				width:auto;
			}
			h4 {
				margin: 10px 0 5px;
				text-align:center;
				font-size:16px;
			}
			.players {
				display: block;
				font-size: 14px;
				text-align: center;
			}
			&:hover {
				border: 1px solid #D68383;
				text-decoration: none;
				color:#333333;
				margin-top: -2px;
				box-shadow: 0 0 15px -4px #981E1D;
			}
		}
	}
	.teams-list {
		margin-bottom: 30px;
		h3 {
			font-size: 28px;
			margin: 0 0 20px;
			text-align: center;
		}
		.span2 {
			position:relative;
		}
		a.team {
			background-color: #FFFFFF;
			border: 1px solid #CCCCCC;
			border-radius: 5px 5px 5px 5px;
			padding: 9px;
			width: 120px;
			margin-bottom: 20px;
			display: inline-block;
			@include transition(0.4s);
			&:hover {
				border: 1px solid #D68383;
				margin-top: -2px;
				box-shadow: 0 0 15px -4px #981E1D;
			}
		}
	}
	footer {
		margin-top:-80px;
		padding: 20px 0;
		clear:both;
		@include gradient(lighten(#202020,10%),#202020);
		.logo {
			width: 46px;
			height:40px;
			display:inline-block;
			float:left;
			margin-right: 10px;
		}
		ul.menu {
			list-style:none;
			margin: 0;
			padding: 10px 0 0;
			li {
				list-style:none;
				margin: 0 10px 0 0;
				padding: 0;
				display:inline-block;
				a {
					color:#fff;
					font-size:14px;
				}
			}
		}
		a.what-is {
			@include gradient(lighten(#961C1C,5%),darken(#AA2321,10%));
		    border-top: 1px solid lighten(#961C1C,30%);
		    text-shadow: 1px 1px 0 darken(#AA2321,20%);
			color: #fff;
			border-radius: 5px;
			padding: 8px 0;
			width:100%;
			text-align:center;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
			display: inline-block;
    		font-size: 14px;
    		margin-top: 2px;
		    &:hover {
		    	background: #991F1E;
		    	text-decoration: none;
		    }
		}
	}


	
	.span-left, .span-right {
		width:360px;
		float:left;
		margin-left:0;
	}
	.span-left {
		margin-right:20px;
	}
	.span-right {

	}
	
	

	// About Us Page
	a.social-icon {
		font-size:28px;
		font-weight:bold;
		font-family: $opensans;
		margin-bottom:5px;
	}

	// Staff Page
	ul.staff {
		margin: 30px 0 20px;
		padding: 0 35px;
		list-style: none;
		li {
			float:left;
			margin: 0 30px 20px 0;
			padding: 0;
			text-align:center;
			width:200px;

			img.staff-img {
				border-radius:5px;
				max-width:100%;
				width:auto;
				height:auto;
			}
			h4 {
				margin-bottom:5px;
			}
			span.position {
				margin-bottom:10px;
				display:inline-block;
				font-size:16px;
			}
			&.last {
				margin-right: 0;
			}
		}
	}

	// In The News
	.news-wrap {
		ul.nav-pills {
			& > .active > a, & > .active > a:hover, & > .active > a:focus {
				background-color: #8E1C1B;
			}
		}
		.tab-content {
			.tab-pane {
				ul {
					margin: 0;
					padding: 0;
					li {
						color:#333333 !important;
						clear:left;
						margin-bottom:10px;
						display: inline-block;
						width: 100%;
						font-weight:normal;
						a.news-img {
							width:60px;
							height:60px;
							float:left;
							margin-right:10px;
							img {
								max-width:100%;
								width:auto;
								height:auto;
							}
						}
						p {
							margin-bottom:0px;
							font-size:16px;
						}
						span {
							font-weight:normal;
						}
					}
				}
			}
		}
	}

	// Press Release
	ul.press-release {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 0 0 15px;
			padding: 0;
			a {
				font-size:16px;
			}
			span {

			}
		}
	}

	// Press Kit
	.press-kit {
		h4.oath {
			font-size: 16px;
			div {
				margin-bottom:8px;
			}
		}
		a.download-all {
			clear: both;
			display: block;
			margin: 10px auto;
			width: 260px;
		}
		ul.brand-colors {
			list-style: none;
			margin: 0 0 40px;
			padding: 0 10px;
			li {
				margin:0 20px 0 0;
				padding: 0;
				width:162px;
				display:inline-block;
				.color-box {
					border: 1px solid #000000;
					height: 90px;
					margin-bottom: 5px;
				}
				.red-dark {
					background-color: #6e0000;
				}
				.red-light {
					background-color: #ba1a1a;
				}
				.black {
					background-color: #000000;					
				}
				.white {
					background-color: #FFFFFF;
				}

				&.last {
					margin: 0;
				}
			}
		}
	}

}