/*-------------------------------------------
------ BODY
-------------------------------------------*/

body {
  background-image: url(../img/main_bg.gif);
  background-color: #1B1B1B;
  color: #333333;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.1em;
  margin: 0;
}

/*-------------------------------------------
------ WRAPPER
-------------------------------------------*/

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
}

/*-------------------------------------------
------ HEADER
-------------------------------------------*/
header {
  position: relative;
  height: 146px;
  background-image: url(/img/header_bg_igl.gif)
}
.headerwrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#headerwrapbuttons {
  width: 960px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
}
.header_search {
  float: right;
  margin-top: 20px;
}
.header_search input {
  background-color: #333;
  color: #fff;
}
.header_search .btn {
  height: 40px;
}
/*-------------------------------------------
------ NAV
-------------------------------------------*/
.navbar .brand {
  margin-left: 0px;
}
.navbar-inner {
  padding: 0px;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  
}
.navbar .nav > li .dropdown {
    margin-top:8px;
}
.navbar .nav > li a {
  font-weight: bold;
  float: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 0.715em;
  padding: 12px 7px;
  text-decoration: none;
}

.navbar .nav > li ul li a:hover {
  color: #fff;
  text-shadow: none;
}


/*-------------------------------------------
------ CONTENT
-------------------------------------------*/

/*-------------------------------------------
------ SIDEBAR
-------------------------------------------*/

/*-------------------------------------------
------ FOOTER
-------------------------------------------*/
.footer {
  padding-top: 50px;
  height: 150px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  color: #757575;
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 11px;
  height: 150px;
  clear: both;
  background-image: url(../img/footer_bg.gif);
}
#footer-social {
  padding-top: 7px;
  width: 87px;
}
#social-registered {
  font-size: 10px;
  background-image: url(../img/registered_users.png);
  height: 29px;
  width: 155px;
  margin-top: 6px;
  margin-left: 0px;
  text-align: center;
  line-height: 30px;
}
#footer-list-line {
  margin-left: 20px;
  margin-top: 35px;
  width: 100px;
  padding-right: 100px;
}
#footer-list {
  margin-left: 50px;
  width: 150px;
  font-size: .8em;
  line-height: 16px;
  font-weight: bold;
}
#footer-logo {
  height: 37px;
}
.who {
  color: #cc4341;
  line-height: 5px;
}
p.who_info {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  font-weight: 200;
  font-size: 1.1em;
  line-height: 1.3em;
}
/*-------------------------------------------
------ HOMEPAGE (OLD)
-------------------------------------------*/
#home-carousel-wrap {
  height: 218px;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-bottom: 0px;
}
#home-carousel {
  height: 218px;
  width: 620px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}
#home-carousel-font {
  font-size: .8em;
  color: #FFF;
  padding-left: 2px;
}
.carousel-inner {
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width:640px;
  height:240px;
}
.carousel-inner > .item > div {
  width:260px;
  margin-left:640px;
  padding:0 20px;
  background:#000;
  height:240px;
  position:relative;
}
.carousel-inner > .item a {
  position:absolute;
  bottom:14px;
  left:20px;
  width:230px;
}
.carousel-control.right {
  font-size: 50px;
}
.carousel-control:hover {
  color: #FFFFFF !important;
  opacity: 0.9;
  text-decoration: none;
}
.carousel-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  height: 85px;
  margin-bottom: 45px;
  padding: 0;
}
.carousel-caption h1, .carousel-caption p {
  color: #FFFFFF;
  font-size: 2.5em;
  line-height: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.carousel-caption p {
  font-size: 0.8em;
  line-height: 13px;
  margin-bottom: 0;
  width: 510px;
}
.carousel-nav {
  position: absolute;
  z-index: 1000;
  margin-top: 180px;
  padding-left: 280px;
}
.carousel-indicators {
  height: 60px;
  list-style: none outside none;
  margin: 0;
  position: relative;
  right: inherit;
  top: inherit;
  width: 100%;
}
.carousel-indicators li {
  background: #7c7c7c; /* Old browsers */
  background: -moz-linear-gradient(top,  #7c7c7c 0%, #4f4f4f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7c7c7c 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7c7c7c 0%,#4f4f4f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7c7c7c 0%,#4f4f4f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7c7c7c 0%,#4f4f4f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
  float:left;
  height:60px;
  width:168px;
  padding:10px 10px 0;
  margin:0;
  color:#fff;
  cursor:pointer;
  border-radius:0;
  text-align:center;
  text-indent:inherit;
  font-weight:bold;
}
.carousel-indicators .active {
  background: #b71818; /* Old browsers */
  background: -moz-linear-gradient(top,  #b71818 0%, #7a0202 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b71818), color-stop(100%,#7a0202)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b71818 0%,#7a0202 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b71818 0%,#7a0202 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b71818 0%,#7a0202 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b71818 0%,#7a0202 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71818', endColorstr='#7a0202',GradientType=0 ); /* IE6-9 */
}
.btn-homecarousel {
  color: #ffffff;
  margin-right: 30px;
  margin-top: 10px;
  height: 35px;
  width: 100px;
  font-size: .7em;
  padding-right: 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
 *background-color: #bd362f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
 filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-homecarousel:hover, .btn-homecarousel:active, .btn-homecarousel.active, .btn-homecarousel.disabled, .btn-homecarousel[disabled] {
  padding-right: 10px;
  color: #ffffff;
  background-color: #bd362f;
 *background-color: #a9302a;
}
.btn-homecarousel:active, .btn-homecarousel.active {
  background-color: #942a25 \9;
}
.accordion {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #f1f1f1;
}
.accordion a{
  color:#505050;
}
.accordion .accordion-toggle {
  cursor: pointer;
  display: block;
  padding: 2px 15px;
}
.accordion .accordion-title {
  font-size: .84em;
  margin-left: 60px;
  padding-top: 18px;
  line-height: 10px;
}
.accordion .accordion-teams {
  font-family: Arial;
  font-size: .7em;
  color: #838383;
  margin-left: 60px;
}
.accordion .accordion-group {
  border-bottom: 1px solid #c8c8c8;
}
.accordion .accordion-last {
  margin-bottom: 0px;
  border-bottom: 1px solid #c8c8c8;
}
.accordion .accordion-heading {
  border-bottom: 0px solid #f7f7f7;
  height: 64px;
  width: 100%
}
.accordion-heading:hover {
    background-color: #f7f7f7;
}
.accordion .accordion-inner {
  padding: 2px 2px;
  border-top: 1px solid #e5e5e5;
  border-radius: 0;
  background-color: #e5e5e5;
}
.accordion .accordion-division {
  line-height: 22px;
  width: 298px;
  cursor: pointer;
  font-size: .8em;
}
.accordion .accordion-division:first-child {
  border: none;
}
.accordion .accordion-division-highlight {
  width: 282px;
  border: 1px solid #e5e5e5;
  padding-left: 12px;
  font-family: Arial;
  font-weight: Bold;
  font-size: .8em;
}
.accordion .accordion-division-highlight:hover {
  background-color: #e3d2d2;
  width: 280px;
  border: 1px solid #dfbfbf;
  color: #9c6262
}
.accordion .accordion-division-highlight a { 
  color: #BD4140;
}
.accordion .accordion-division-highlight .pull-right {
  padding-right:5px;
}

/*-------------------------------------------
------ HOMEPAGE (NEW)
-------------------------------------------*/
.slider {
  background-color: #CDCDCD;
  margin-bottom: 20px;
  padding: 100px 20px;
  text-align: center;
}
.ad {
  margin-bottom: 20px;
}
#accordion h1 {
  color:#fff;
  font-weight: normal;
  text-shadow: none;
  background: #7d7d7d; /* Old browsers */
  background: -moz-linear-gradient(top,  #7d7d7d 0%, #505050 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(100%,#505050)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7d7d7d 0%,#505050 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7d7d7d 0%,#505050 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7d7d7d 0%,#505050 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7d7d7d 0%,#505050 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#505050',GradientType=0 ); /* IE6-9 */
}
h1.bar, h2.bar, tr.bar {
  font-size:20px;
  color:#fff;
  text-transform:uppercase;
  padding: 0 15px;
  letter-spacing: -0.5px;
  margin: 0 0 10px;
  font-weight: normal;
  background: #7d7d7d; /* Old browsers */
  background: -moz-linear-gradient(top,  #7d7d7d 0%, #505050 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(100%,#505050)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7d7d7d 0%,#505050 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7d7d7d 0%,#505050 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7d7d7d 0%,#505050 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7d7d7d 0%,#505050 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#505050',GradientType=0 ); /* IE6-9 */
}
h1.bar.no-bottom, h2.bar.no-bottom {
  margin-bottom: 0;
}
.badge-help {
  background-color: #8B0000;
  bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-shadow: 0 1px 0 #737373;
}
.badge-help a, .badge-help a:hover {
  color:#fff;
}
img.match-cards{
    auto;
    auto;
}
ul.match-cards {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
ul.match-cards li {
  width:198px;
  border: 1px solid #525252;
  margin: 0 10px 10px 0;
  float:left;
}

ul.match-cards li.game {
  width:304px;
  height:304px;
}

ul.match-cards li:nth-child(3n+3) {
  margin-right: 0;
}

ul.match-cards li .inner {
    height:100%;
    background-color: #000;
  position:relative;
}
ul.match-cards li .image img {
  width:100%;
  height: auto;
  min-height: 198px;
}
ul.match-cards li .title {
  position:absolute;
  bottom:0;
  left:0;
  color:#fff;
  background-color:rgba(0,0,0,0.3);
  width:100%;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}
ul.match-cards li .title h4 {
  font-size:16px;
  margin: 10px 0 8px 10px;
  line-height: 16px;
  font-size: 14px;
}
ul.match-cards li .title span.game {
  font-family: 'Open Sans', sans-serif;
  font-size:11px;
  margin: 0 0 10px 10px;
  display: inline-block;
}
ul.match-cards li .title h4 a, ul.match-cards li .title span.game a, ul.match-cards li .title .hoverpop a {
  color:#F5F5F5;
}
ul.match-cards li .title h4 a:hover, ul.match-cards li .title span.game a:hover, ul.match-cards li .title .hoverpop a:hover {
  color:#FFFFFF;
}
ul.match-cards li .title .hoverpop {
  text-align:center;
  padding: 85px 0 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  display:none;
}
ul.match-cards li:hover .hoverpop {
  display:block;
}
ul.match-cards li .title .hoverpop .follows, ul.match-cards li .title .hoverpop .comments, ul.match-cards li .title .hoverpop .link {
  font-size:20px;
  display:inline-block;
  margin-right:3px;
}
ul.match-cards li .title .hoverpop .follows i, ul.match-cards li .title .hoverpop .comments i, ul.match-cards li .title .hoverpop .link i {
  font-size:20px;
  margin-right:5px;
}
ul.match-cards li .title .hoverpop .link, ul.match-cards li .title .hoverpop .link i {
  margin-right:0;
}
ul.match-cards li .badge-top {
  background-color: rgba(125, 2, 2, 0.5);
  color: #FFFFFF;
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 12%;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}
.box.padded {
  padding:19px;
}
ul.forums {
  margin: 0;
  padding: 0;
  list-style:none;
}
ul.forums li {
  line-height:24px;
  margin: 0 0 8px;
  padding: 0 0 8px;
  list-style:none;
  font-size:13px;
  border-bottom:1px solid #d8d8d8;
}
ul.forums li.last {
  margin: 0;
  padding: 0;
  border-bottom: 0 none;
}
ul.forums li h4 {
  margin: 0;
  padding: 0;
  line-height: 18px;
}
ul.forums li h4 a {
  color:#555555;
}
ul.forums li h4 a span.count {
  color:#0b9600;
}
ul.forums li a {
  font-weight:bold;
  color:#555555;
}
ul.forums li .avatar {
  width:32px;
  height:32px;
  float:left;
  margin-right:10px;
  margin-top: 1px;
}
ul.forums li .avatar img {
  max-width:100%;
  width: auto;
  height: auto;
}
ul.forums li .twitter-follow {
float: right;
margin-right: 20px;
margin-top: -10px;
width: 200px;
}

.power-rankings {
  margin-bottom:20px;
}
table.rankings {
  border: 0 none;
  margin: 10px 0 0;
}
table.rankings th {
  border-left: 10px solid #F6F6F6;
  margin:0; 
  font-size:18px;
  color:#fff;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 !important;
  background: #be1a1a; /* Old browsers */
  background: -moz-linear-gradient(top,  #be1a1a 0%, #7a0202 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be1a1a), color-stop(100%,#7a0202)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #be1a1a 0%,#7a0202 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #be1a1a 0%,#7a0202 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #be1a1a 0%,#7a0202 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #be1a1a 0%,#7a0202 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be1a1a', endColorstr='#7a0202',GradientType=0 ); /* IE6-9 */
}
table.rankings td {
  border-top: 10px solid #F6F6F6;
  border-left: 10px solid #F6F6F6;
  border-radius: 0 !important;
  padding:0;
  margin:0;
}
table.rankings td.pos {
  width:40px;
  background: #c2c2c2;
  border-left:0 none;
  color:#fff;
  font-size:24px;
  font-weight:bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  text-align:center;
}

table.rankings td.pos1 {
  background: #ebd240; /* Old browsers */
  background: -moz-linear-gradient(top,  #ebd240 0%, #bfaa34 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebd240), color-stop(100%,#bfaa34)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ebd240 0%,#bfaa34 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ebd240 0%,#bfaa34 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ebd240 0%,#bfaa34 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ebd240 0%,#bfaa34 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd240', endColorstr='#bfaa34',GradientType=0 ); /* IE6-9 */
}
table.rankings td.pos2 {
background: #c9c9c9; /* Old browsers */
background: -moz-linear-gradient(top,  #c9c9c9 0%, #a2a2a2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#a2a2a2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c9c9c9 0%,#a2a2a2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c9c9c9 0%,#a2a2a2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c9c9c9 0%,#a2a2a2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c9c9c9 0%,#a2a2a2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a2a2a2',GradientType=0 ); /* IE6-9 */
}
table.rankings td.pos3 {
background: #9a7b5b; /* Old browsers */
background: -moz-linear-gradient(top,  #9a7b5b 0%, #7d644a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a7b5b), color-stop(100%,#7d644a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9a7b5b 0%,#7d644a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9a7b5b 0%,#7d644a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9a7b5b 0%,#7d644a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9a7b5b 0%,#7d644a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a7b5b', endColorstr='#7d644a',GradientType=0 ); /* IE6-9 */

}
table.rankings td.pos4 {
background: #8e8e8e; /* Old browsers */
background: -moz-linear-gradient(top,  #8e8e8e 0%, #737373 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e8e8e), color-stop(100%,#737373)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8e8e8e 0%,#737373 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8e8e8e 0%,#737373 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8e8e8e 0%,#737373 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8e8e8e 0%,#737373 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#737373',GradientType=0 ); /* IE6-9 */
}
table.rankings td.pos5 {
background: #666666; /* Old browsers */
background: -moz-linear-gradient(top,  #666666 0%, #525252 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#525252)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #666666 0%,#525252 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #666666 0%,#525252 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #666666 0%,#525252 100%); /* IE10+ */
background: linear-gradient(to bottom,  #666666 0%,#525252 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#525252',GradientType=0 ); /* IE6-9 */
}
/*-------------------------------------------
------ EVENTS + SHOWMATCH PAGE
-------------------------------------------*/

.event {
  margin-bottom:20px;
}
.event h1, .event h2, .event h3 {
  color:#333333;
}
.banner h1 { color: #fff; } 
.event .banner {
  color:#fff;
  position:relative;
  height:200px;width:620px;
}
.event .banner .overlay {
  position:absolute;
  left:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  height:180px;
  width:600px;
  display:block;
  padding: 10px;
}
.event .banner .overlay .social {

}
.event .banner .overlay h1 {
  color:#fff;
  font-size:28px;
  line-height:28px;
  margin: 0 0 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.event .banner .overlay .bottom {
  bottom: 10px;
  position: absolute;
}
.event .banner .overlay .bottom .progress {
border: 1px solid rgba(0,0,0,0.6);
background: rgba(0,0,0,0.5);
box-shadow: inset 0 2px 7px #000;
float: left;
height: 42px;
width: 398px;
}
.event .banner .overlay .bottom .progress .text {
font-weight: bold;
padding-top: 10px;
position: absolute;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
width: 400px;
}
.event .banner .overlay .bottom .button {
  float: left;
margin-left: 10px;
width: 190px;
}
.event .banner .overlay .bottom .button a.btn {
  display: block;
}
.event .nav-wrap {
border-top: 1px solid #a4a4a4;
padding: 10px;
background: #7c7c7c; /* Old browsers */
background: -moz-linear-gradient(top,  #7c7c7c 0%, #505050 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#505050)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7c7c7c 0%,#505050 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7c7c7c 0%,#505050 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7c7c7c 0%,#505050 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7c7c7c 0%,#505050 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#505050',GradientType=0 ); /* IE6-9 */
}
.event .nav {
  margin-bottom: 0;
  border-bottom: 0;
  font-size:14px;
}
.event .nav li {
  margin-right:5px;
  font-weight: normal;
}
.event .nav li a {
  border: 0;
  color:#fff;
  font-weight: normal;
}
.event .nav li.active a, .event .nav li a:hover {
  background-color:#950000;
  border: 0;
  box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 5px #620000;
  font-weight:normal;
}

.event .info .nav li a { 
  color:#787878; 
}
.event .info .nav li a:hover, .event .info .nav li.active a { 
  color:#FFFFFF; 
}

.event .tab-content {
  background-color: #f7f7f7;
  border: 1px solid #d4d4d4;
  color: #787878;
  padding: 19px;
}
.event .tab-content .active {
  color: inherit !important;
  font-weight: inherit;
}

.event ul.info {
  list-style: none outside none;
  margin: 0 0 20px;
  
}
.event ul.info li {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.event .match {
  text-align:center;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  border-radius: 10px;
  padding: 19px;
}
.event .match .date {
  font-size:18px;
  margin-bottom:20px;
}
.event .match .team {
  width:210px;
  display:inline-block;
}
.event .match .team img.team-img {
  border-radius: 5px;
  margin-bottom:10px;
}
.event .match .team .name {
  background-color:#e4e4e4;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 5px;
  font-size:20px;
}
.event .match .team .name .flag {
margin-left: 5px;
position: relative;
top: -2px;
}
.event .match .score {
display: inline-block;
margin: 0 5px;
position: relative;
top: -60px;
}
.event .match .score .vs {
background-color: #E4E4E4;
border: 1px solid #C3C3C3;
border-radius: 3px 3px 3px 3px;
font-size: 24px;
margin-bottom: 3px;
padding: 20px;
}
.event .match .score .win, .event .match .score .loss {
display: inline-block;
font-size: 24px;
padding: 8px 10px;
color:#fff;
  border-radius: 3px;
}
.event .match .score .win, .event .game .win {
  background-color:#0a9d30;
}
.event .match .score .loss, .event .game .loss {
  background-color:#7e0f0f;
}
.event .game {
border-radius: 5px;
margin: 20px auto 0;
width: 300px;
}
.event .game .middle {
background-color: #232323;
color: #FFFFFF;
display: inline-block;
height: 70px;
width: 160px;
}
.event .game .middle .title {
padding-top:12px;
padding-bottom:3px;
font-size:24px;
}
.event .game .left, .event .game .right {
color: #FFFFFF;
font-size: 32px;
height: 45px;
padding-top: 25px;
text-align: center;
width: 70px;
}
.event .game .left {
  border-radius: 5px 0 0 5px;
  float:left;
}
.event .game .right {
  border-radius: 0 5px 5px 0;
  float:right;
}
.event .caster-wrap {
  text-align:center;
}
.event .caster {
  width:120px;
  display:inline-block;
  text-align:center;
  margin: 0 10px 20px;
}
.event .caster img.pic {
  max-width:100%;
  height:auto;
  width:auto;
  border-radius:10px;
}
.event .caster h3 {
font-size: 18px;
line-height: 24px;
margin: 5px 0 0;
}
.event .caster a {
  color: #333333;
  line-height:14px;
}

.event-showmatch .banner {
  width:940px;
  height:300px;
  position:relative;
}
.event-showmatch .banner .text-inner {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px 10px 10px 10px;
bottom: 0;
margin: 20px;
padding: 10px;
position: absolute;
width: 880px;
box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 0 20px #000;
font-size:14px;
}
.event-showmatch .banner .text-inner .left {
  float:left;
  width:48%;
  margin-right:4%;
}
.event-showmatch .banner .text-inner .right {
  float:left;
  width:48%;
}
.event-showmatch .banner .text-inner h1 {
  font-size:28px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 0 7px;
  line-height:28px;
}
.event-showmatch .banner .text-inner .right .item {
  display:inline-block;
  margin-right: 30px;
  margin-bottom:5px;
}

.event-showmatch .match .team {
  width:250px;
  display:inline-block;
}
.event-showmatch .match .score {
display: inline-block;
margin: 0 15px;
position: relative;
top: -70px;
}
.event-showmatch .match .score .win, .event-showmatch .match .score .loss {
display: inline-block;
font-size: 24px;
padding: 11px 15px;
color:#fff;
  border-radius: 3px;
}

/*-------------------------------------------
------ MATCH DETAILS PAGE
-------------------------------------------*/

.match-details {
  font-size:14px;
}
.match-details .info {

}
.match-details .info h4 {
  margin-top:0;
  font-family:'Open Sans Condensed', sans-serif;
}
.match-details .info .status {
  
}
.match-details .info .status span.red {
  font-weight:bold;
  color:#7e0f0f;
}
.match-details .info .status span.green {
  font-weight:bold;
  color:#468847;
}
.match-details .match .social {
  float:right;
}
.match-details .match .social iframe.twitter-share-button {
  width:90px !important;
}
.match-details .match .date {
  text-align:left;
}
.match-details .match .team img.team-img {
  width:210px;
  height:210px;
}
.match-details .match .score {
  top: -160px;
}
.match-details .match .score.pending {
  top: -170px;
}
.match-details .match .score .btn {
  margin-bottom:10px;
}
.match-details .match .team-stats {
  margin:10px 0;
}
.match-details .content {
  width:auto;
  float:none;
  margin: 10px 0 0;
}
.match-details .comments {
  margin-top:20px;
}
.match-details .comments h3 {
  margin-top: 0;
}
.match-details .comments .inner_box {
  margin: 0;
}
.match-details .match-rounds {
  margin: 0 90px;
}
.match-details .match-rounds h3 {
  margin: 0 0 10px;
}
/*-------------------------------------------
------ SIMILAR MATCHES SIDEBAR
-------------------------------------------*/
ul.similar-matches {
  margin: 20px 0;
  padding: 0;
  list-style:none;
}
ul.similar-matches li {
  margin: 0 20px 15px;
  padding: 0 0 15px;
  list-style:none;
  text-align:center;
  font-size:13px;
  line-height:15px;
  border-bottom:1px solid #d4d4d4;
}
ul.similar-matches li.last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
ul.similar-matches li img.avatar {
  width:50px;
  height:50px;
  border-radius:3px;
}
ul.similar-matches li .team1 {
  float:left;
}
ul.similar-matches li .team2 {
  float:right;
}
ul.similar-matches li h4 {
  font-size:16px;
  margin: 0 0 3px;
  padding: 0;
}
ul.similar-matches li a {
  color:#787878;
}
/*-------------------------------------------
------ GAMES PAGE
-------------------------------------------*/
.games-page {

}
.games-page .banner {
  margin-bottom:20px;
}
/*-------------------------------------------
------ HEADINGS
-------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
    line-height: 1;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font-size: 24px;
    line-height: 40px;
}
h4 {
    font-size: 18px;
    line-height: 20px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}
h6 {
    font-size: 12px;
    line-height: 20px;
}
h1 small {
    font-size: 24px;
}
h2 small {
    font-size: 18px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}
.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 20px 0 30px;
    padding-bottom: 9px;
}
/*-------------------------------------------
------ HYPERLINKS
-------------------------------------------*/
a {
  /*color: #981E1D;*/
  text-decoration: none;
}
a:hover, a:focus {
  /*color: #BD4140;*/
  text-decoration: none;
}

.unstyled > li > a {
  color: #b3b3b3;
  font-size: 1.2em;
  font-weight: 500;
}
.unstyled > li > a:hover, .unstyled > li > a:focus, .unstyled > li > a:active {
  color: #981e1d;
}
.active {
  color: #fff !important;
  font-weight: bold;
}


/*-------------------------------------------
------ BUTTONS
-------------------------------------------*/
.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 4px 14px;
}
.btn-large {
  font-size: 16px !important;
  line-height: normal;
  padding: 9px 14px;
}

.btn-mini {
  font-size: 11px;
  line-height: 17px;
  padding: 2px 6px;
  min-width: 30px;
}
.btn-micro {
    height: 16px;
    line-height: 14px;
    margin-top: -4px;
    padding: 0;
    width: 16px;
    font-size: 11px;
}

.btn-action:hover {
  color: #FFF;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

/*-------------------------------------------
------ MISC
-------------------------------------------*/
ul, ol {
    margin: 0 0 10px 25px;
    padding: 0;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
li {
    line-height: 18px;
    margin: 0;
    padding: 0;
}
ul.unstyled, ol.unstyled {
    font-family: "Source Sans Pro";
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
dl {
    margin-bottom: 20px;
}
dt, dd {
    line-height: 20px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 10px;
}
.dl-horizontal {
}
.dl-horizontal:before, .dl-horizontal:after {
    content: "";
    display: table;
    line-height: 0;
}
.dl-horizontal:after {
    clear: both;
}
.dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
.dl-horizontal dd {
    margin-left: 180px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}
abbr[title] {
    border-bottom: 1px dotted #999999;
    cursor: help;
}
abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}
blockquote {
    border-left: 5px solid #EEEEEE;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}
blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
}
blockquote small {
    color: #999999;
    display: block;
    line-height: 20px;
}
blockquote small:before {
    content: "— ";
}
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #EEEEEE;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right;
}
blockquote.pull-right small:before {
    content: "";
}
blockquote.pull-right small:after {
    content: " —";
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
address {
    display: block;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 20px;
}
code, pre {
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}
code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 2px 4px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 9.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
pre.prettyprint {
    margin-bottom: 20px;
}
pre code {
    background-color: transparent;
    border: 0 none;
    color: inherit;
    padding: 0;
}
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

/*-------------------------------------------
------ MODAL
-------------------------------------------*/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  font-family: 'Open Sans', sans-serif;
  top: 10%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}
.modal-wide {
  width:820px;
  margin-left:-410px;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 20px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 650px;
  padding: 20px;
  overflow-y: auto;
  font-size:14px;
  color: #8e8e8e;
}
.modal-body .header-img {
  width:558px; /* 560 */
  height:98px; /* 100 */
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35) inset;
  margin-bottom: 40px;
}

.modal-body .step-marker {
    height:30px; line-height: 30px;
    margin:5px 0;
}

.modal-body .step-marker i {
    margin-right:10px; width:30px; text-align:center;
}

#register-steps .active-step {
    color:#468847;
}

.modal-body .step-marker-line {
    border-left:2px solid #aaa; height:30px; margin:3px 0 3px 10px;
}

.modal-body .header-img h2 {
color: #FFFFFF;
font-size: 18px;
line-height: 18px;
margin: 65px 15px 15px;
vertical-align: bottom;
}

.modal-body label {
  font-size: 16px;
  color:#595959;
  font-weight: normal;
  line-height: 16px;
  margin-bottom: 10px;
}
.modal-body label:hover {
  cursor:default;
}
.modal-body h3 {
  font-size: 16px;
  color:#595959;
  font-weight: normal;
  line-height: 16px;
  margin-bottom: 10px;
  margin: 0 0 10px;
}
.modal-body input[type=text], .modal-body input[type=password] {
background-color: #F4F4F4;
border: 1px solid #D8D8D8;
color: #767676;
display: inline-block;
font-size: 14px;
height: auto;
line-height: 14px;
padding: 2px;
}
.modal-body select {
  background-color: #F4F4F4;
border: 1px solid #D8D8D8;
color: #767676;
display: inline-block;
font-size: 14px;
height: auto;
line-height: 14px;
padding: 6px;
}

.modal-form {
  margin-bottom: 0;
}

.modal-buttons {
  clear:both;
  margin-top:20px;
}
.modal-buttons:after {
  clear:;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
/*-------------------------------------------
------ REGISTER MODAL
-------------------------------------------*/
.modal-body .step1 { background: url('../img/register/header-step1.jpg') top center no-repeat; }
.modal-body .step2 { background: url('../img/register/header-step2.jpg') top center no-repeat; }
.modal-body .step3 { background: url('../img/register/header-step3.jpg') top center no-repeat; }
.modal-body .step4 { background: url('../img/register/header-step4.jpg') top center no-repeat; }
.modal-body .step5 { background: url('../img/register/header-step5.jpg') top center no-repeat; }
.modal-body .form-middle {
  text-align: center;
}
.modal-body .left {
  width:270px;
  float:left;
  margin-bottom:10px;
}
.modal-body .right {
  width:270px;
  float:right;
  margin-left:20px;
  margin-bottom:10px;
}
.modal-body label span {
  color:#b51a1a;
}
.modal-body label.padtop {
  margin-top:5px;
}
.modal-body label.padtop-big {
  margin-top:15px;
}
/* STEP 1 */
.username-check {
  color:#8e8e8e;
  font-weight:bold;
  font-size:14px;
  text-align: center;
}
.username-avail span {
  color:#54A854;
}
.username-taken span {
  color:#C53D36;
}
/* STEP 2 */
.social-connect {
text-align: center;
}
.social-connect a.connect-btn {
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
display: inline-block;
font-size: 14px;
text-decoration: none;
text-transform: uppercase;
width: 250px;
margin-bottom:10px;
}
.social-connect a.connect-btn .icon-wrap {
border-radius: 5px 0 0 5px;
float: left;
height: 30px;
padding: 0;
position: relative;
vertical-align: middle;
width: 50px;
}
.social-connect a.connect-btn img.icon {
padding-top:8px;
}
.social-connect a.connect-btn span {
display: inline-block;
padding: 5px 15px 5px;
font-size:12px;
}
.social-connect .tooltip-wrap {
display: inline-block;
height: 21px;
margin-left: 8px;
width: 22px;
}
.social-connect .social-tooltip {
background: none repeat scroll 0 0 #A4A4A4;
border: 1px solid #959595;
border-radius: 20px 20px 20px 20px;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 1px 7px;
}
.social-connect a.steam {
  background-color: #4c4c4c;
}
.social-connect a.steam .icon-wrap {
  background-color: #3e3e3e;
}
.social-connect a.twitch {
  background-color: #6441a5;
}
.social-connect a.twitch .icon-wrap {
  background-color: #563692;
}
.social-connect a.facebook {
  background-color: #0079ce;
}
.social-connect a.facebook .icon-wrap {
  background-color: #0064ab;
}
.social-connect a.twitter {
  background-color: #1bb2e9;
}
.social-connect a.twitter .icon-wrap {
  background-color: #189bcb;
}

/* STEP 3 */
input.half {
margin-right: 6px;
width: 130px;
}
input.last {
  margin-right: 0;
}
input.full {
width:100%;
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onethird-wrap {
  width:100px;
  display:inline-block;
  margin-left: 20px;
}
.onethird {
  width:100px;
}
.twothird-wrap {
  width:150px;
  display:inline-block;
}
.twothird {
  width:150px;
}
/* STEP 4 */
.confirm-wrap {
  margin-bottom:20px;
}
.confirm-wrap .first {
  width:160px;
  margin-right: 20px;
  float: left;
}
.confirm-wrap .second {
  width:135px;
  float:left;
  margin-right: 20px;
  
}
.confirm-wrap .third {
  width:220px;
  float:left;
}

.smallver {
  padding-left: 0px; 
padding-top: 0px;
text-align: center;
}
.smallver a.connect-btn {
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
display: inline-block;
font-size: 14px;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
width: 220px;
margin-bottom:10px;
}
.smallver a.connect-btn .icon-wrap {
height: 26px;
padding: 14px 0 0;
width: 45px;
}
.smallver a.connect-btn img.icon {
vertical-align:middle;
}
.smallver a.connect-btn span {
display: inline-block;
padding: 10px 10px 11px;
}
.smallver a.connect-btn .alert-img {
display: inline-block;
margin-left: 5px;
position: relative;
top: -2px;
}
/*-------------------------------------------
------ LOGIN MODAL
-------------------------------------------*/
.loginform {
  margin: 0;
}
.loginform .left, .loginform .right {
  width:260px;
  margin-bottom: 0;
}
.loginform .left {
  
}
.loginform .right {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #E8E8E8;
}
.login-header {
  margin-bottom:20px !important;
}
.loginform h3 {
  margin-bottom:20px;
}
.loginform input[type=text], .loginform input[type=password] {
  padding: 9px 9px 10px;
  height: auto !important;
}
.btn-login {
  background-color: #008DDE;
  background-image: none;
  border: 0 none;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  text-shadow: none;
  width: 100% !important;
  margin-bottom:0px;
}
.btn-login:hover {
  background-color:#0395e9;
  background-image: none;
  color:#fff;
  text-shadow: none;
}
.remember {
  padding-top:7px;
}
.remember input {
  margin: -3px 0 0;
}
.small-links {
 font-size: 12px;
line-height: 18px;
margin-top: 9px;
text-align: center;
}
.small-links a {

  color:#595959;
}
.loginver {
  padding-left: 0px; 
padding-top: 0px;
text-align: center;
}
.loginver a.connect-btn {
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
display: inline-block;
font-size: 14px;
width: 260px;
}
.loginver a.connect-btn .icon-wrap {
height: 26px;
padding: 14px 0 0;
width: 45px;
}
.loginver a.connect-btn img.icon {
vertical-align:middle;
}
.loginver a.connect-btn span {
display: inline-block;
padding: 10px 10px 11px;
}
.loginver a.connect-btn .alert-img {
display: inline-block;
margin-left: 5px;
position: relative;
top: -2px;
}
.loginver a.last {
  margin-bottom: 0 !important;
}

/*-------------------------------------------
------ MATCHCARD
-------------------------------------------*/

#matchcard-large-wrap {
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  width: 622px;
  margin-left: auto;
  margin-right: auto;
}
#matchcard-team-logo {
  width: 130px;
  margin: auto;
  text-align: center;
}
#matchcard-team-logo img {
  width: 130px;
  height: 130px;
}
#matchcard-large-bg {
  width: 622px;
  padding: 4px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c8c8c8;
  background: #d8d8d8; /* Old browsers */
  background: -moz-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d8d8d8 0%, #f4f4f4 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f4f4f4', GradientType=0 ); /* IE6-9 */
}
#matchcard-team-wrap {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
#matchcard-info-wrap {
  width: 180px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
 
#match-info-wrap {
  margin-top: 33px;
  width: 622px;
  margin-left: auto;
  margin-right: auto;
}
.nav-matchtabs > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: rgb(238,238,238); /* Old browsers */
  font-family: 'Open Sans', sans-serif;
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
}
.igl-red {
  color: #981e1d;
}
.content-header-style {
  font-weight: 500;
}
.nav-matchtabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-matchtabs > .active > a, .nav-matchtabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
#matches-info-wrap {
  margin-top: 33px;
  width: 622px;
  margin-left: auto;
  margin-right: auto;
}
#matches-indv-wrap {
  margin-bottom: 10px;
  width: 622px;
  margin-left: auto;
  margin-right: auto;
}
.matches-date {
  font-family: 'Arial Narrow';
  font-size: .45em;
  margin-left: 6px;
  margin-top: 14px;
  width: 150px;
}
.matches-team {
  font-family: 'Open Sans', sans-serif;
  font-size: .4em;
  color: #981e1d;
  margin-top: 13px;
}
.matches-vs {
  font-family: 'Open Sans', sans-serif;
  font-size: .35em;
  margin-top: 15px;
  text-align: center;
  padding: 4px;
}
.matches-specs {
  font-family: 'Open Sans', sans-serif;
  font-size: .4em;
  margin-top: 13px;
  text-align: center;
  color: #9b9b9b;
}
.matches-wide-box:hover {
  background-color: #e0e0e0;
}
.wide-box {
  border: 1px solid #c8c8c8;
  margin-top: 12px;
  padding-top: 8px;
  background-color: #f7f7f7;
  height: 32px;
  width: 572px;
  padding-left: 0px;
  padding-right: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #9b9b9b;
  line-height: normal;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(186,186,186,0)), color-stop(100%, rgba(178,178,178,0.23))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bababa', endColorstr='#3bb2b2b2', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.matches-wide-box {
  border: 1px solid #c8c8c8;
  margin-top: 12px;
  background-color: #f7f7f7;
  height: 45px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 2em;
  color: #9b9b9b;
  font-weight: 700;
  line-height: normal;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(186,186,186,0)), color-stop(100%, rgba(178,178,178,0.23))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(186,186,186,0) 0%, rgba(178,178,178,0.23) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bababa', endColorstr='#3bb2b2b2', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/*-------------------------------------------
------ MODAL BOX
-------------------------------------------*/
.box {
  background: #f7f7f7;
  border: 1px solid #d4d4d4;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 160px;
}
.box h1 {
  background: url(../img/heading_bg.jpg) repeat-x left top;
  height: 31px;
  line-height: 31px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #9a9aa2;
  text-shadow: 1px 1px 1px #FFFFFF;
  font-weight: normal;
  margin: 0 0 0px 0;
  text-indent: 15px;
  border-bottom: 1px solid #d4d4d4;
}
.box h1 a.status {
  float:right;
  margin: 0 10px 0 0;
  text-indent:0;
}
.box h1 a.status span.badge {
font-size: 14px;
padding: 3px 15px;
text-align: center;
width: 90px;
}
.box h1 a.status span.online {
  background-color:#468847;
}
.box h1 a.status span.offline {
  background-color:#980000;
}
article.box {
  float: left;
  width: 300px;
  min-height: 180px;
}
article.last {
  float: right;
  clear: none;
}
article.box > div {
  position: relative;
}
article.box > div strong {
  background: url(../img/opacity_bg.png) repeat left top;
  position: absolute;
  width: 100%;
  text-indent: 10px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 11px;
}
article.box > div p {
  margin: 8px 8px;
  line-height: 14px;
  color: #838383;
  font-size: .8em;
}
article.box > div p a {
  text-decoration: none;
  color: #981e1d;
}
article.box > div p a:hover, article.box > div p a:focus {
  text-decoration: underline;
  color: #981e1d;
}
article.box > div span {
  color: #b9b9b9;
  font-size: 10px;
  display: block;
  float: right;
  margin-right: 10px;
}
.box ul.cat {
  margin: 0;
  padding: 8px;
}
.box ul.cat li {
  font-size: .7em;
  height: 18px;
  line-height: 18px;
  padding: 0;
  list-style: none;
  margin: 0 0 4px 0;
}
.box ul.cat li:last-child {
  margin: 0;
}
.box ul.cat li img {
  float: left;
  width: 18px;
  height: 18px;
}
.box ul.cat li a {
  float: left;
  padding-left: 8px;
  text-decoration: none;
  color: #981E1D;
}
.box ul.cat li a:hover, .box ul.cat li a:focus {
  text-decoration: underline;
  color: #981E1D;
}
.box ul.cat li p {
  float: right;
  margin: 0;
  color: #838383;
  min-width: 100px;
}
.box ul.cat li span {
  margin-left: 20px;
  float: right;
}
.myteamname a {
  font-size: .75em;
  font-weight: 600;
  color: #555;
  line-height: 18px;
}
.inner_box {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 1px;
  overflow: hidden;
  color: #9b9b9b;
  clear: both;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.inner_box ul.roster {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inner_box ul.roster li {
  display: inline;
  float: left;
  text-align: center;
  margin: 0px 7px 0px 7px;
  min-height: 200px;
}
.inner_box ul.roster li h5 {
  line-height: 0px;
}
.inner_box ul.roster li img {
  height: auto;
  width: auto;
  margin: 0px 0px 4px 0px;
  padding: 0px;
  float: none;
}
.team h1 {
  margin: 0 0 10px 0;
}
.team .inner_box img {
  float: left;
  width: 184px;
  height: 184px;
  margin-right: 10px;
}
.team .inner_box .social {
  float: left;
  width: auto;
  height: auto;
  margin-right: 10px;
}
.team .inner_box > div {
  float: left;
}
.team .inner_box > div ul {
  margin: 0;
  float: left;
  width: 340px;
}
.team .inner_box > div ul li {
  list-style: none;
  line-height: 18px;
  color: #737373;
}
.team .inner_box > div ul li h2 {
  font-size: 14px;
  color: #bf2f2e;
  line-height: normal;
  margin: 0;
}
.team .inner_box > div ul li h2 span {
  border-left: 1px solid #CCCCCC;
  color: #8C8C8C;
  font-size: 10px;
  font-weight: normal;
  margin: 0 36px 0 10px;
  padding-left: 10px;
}
.team .inner_box > div ul li h2 img {
  float: none;
  width: auto;
  height: auto;
  margin: 0 0 0 5px;
}
.team .inner_box > div ul li p.win {
  color: #8e8e8e;
  font-style: italic;
  margin: 5px 0;
  line-height: normal;
}
.team .inner_box > div ul li span {
  font-weight: bold;
  color: #c33d3c;
}
.team .inner_box > div ul li a span {
  font-weight: bold;
  color: #fff;
}
.team .inner_box > div ul li a:hover span {
  color: #555;
  text-decoration: none;
}
.team .inner_box > div ul li a {
  text-decoration: none;
  color: #c33d3c;
  font-weight: bold;
  padding: 0px
}
.team .inner_box > div ul li a:hover, .team .inner_box > div ul li a:focus {
  text-decoration: none;
  color: #c33d3c;
  font-weight: bold;
}
.team .inner_box > div ul li span.tag {
  color: #737373;
}
.team .inner_box > div ul li span.active {
  color: #1d862f;
}
.team .inner_box > div ul.teamlist {
  width: auto;
  cursor: pointer;
}
.team .inner_box > div > ul li img {
  width: 18px;
  height: 18px;
  clear: both;
  margin-left: 4px;
}
.team .inner_box > div .api {
  float: right;
}
.team .inner_box > div .api img {
  float: none;
  width: auto;
  height: auto;
  margin: 0;
}

.team .inner_box a.button {
  background: #fff url(../img/sprite_down.png) no-repeat 39px 21px;
  border: 1px solid #D4D4D4;
  width: 84px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: block;
  float: right;
  font-size: 12px;
  margin-left: 6px;
  color: #8f3131;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.team .inner_box a.button:hover, .team .inner_box a.button:focus {
  background: #f3f3f3 url(../img/sprite_down.png) no-repeat 39px 21px;
  text-decoration: none;
  color: #8f3131;
}
.team .inner_box p {
  line-height: 18px;
  margin: 0;
}
.team .inner_box h4 {
  font-size: 12px;
  color: #737373;
  margin: 0 0 5px 0;
  padding: 0px;
  line-height: normal;
}
.team .inner_box table {
  margin: 10px 0 20px 0;
}
.team .inner_box table img {
  float: none;
  width: auto;
  height: auto;
  margin: 0;
}
.team .inner_box table th {
  text-align: left;
  border-bottom: 1px solid #D4D4D4;
  padding: 0 5px;
  font-size: 11px;
}
.team .inner_box table td {
  padding: 3px 5px;
  font-size: 12px;
}
.team .inner_box table td strong {
  font-weight: bold;
  color: #bf2f2e;
}
.content {
  float: left;
  width: 626px;
  margin-right: 10px;
}
.myteam_logo {
  margin-top: -8px;
}
p.posted {
  text-align: right;
  padding-right: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}
.articlecontent {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
}
.flag {
  height: 11px!important;
  width: 16px!important;
}
.box table {
  width: 100%;
}
.box table, tr, th, td {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding: 1px;
  /* color: #9b9b9b; */
}
.box table th {
  text-align: left;
  border-bottom: 1px solid #D4D4D4;
  padding: 0 5px;
  font-size: 11px;
}
.box th {
  text-align: left;
  padding-left: 10px;
}
.box td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 20px;
  white-space: nowrap;
}
.box h4 {
  color: #333;
  padding-left: 8px;
}

/*-------------------------------------------
------ MATCH LIST TABLE
-------------------------------------------*/

.table-matchlist tr, .table-matchlist td, .table-matchlist th {
  font-size: 15px;
  vertical-align: middle;
}
.table-matchlist .row-header {
  background: #d8d8d8; /* Old browsers */
  background: -moz-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d8d8d8 0%, #f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d8d8d8 0%, #f4f4f4 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f4f4f4', GradientType=0 ); /* IE6-9 */
  color: #333333;
  padding: 8px;
  margin: 0;
}

/*-------------------------------------------
------ PROFILE PAGE
-------------------------------------------*/
.profile-page {

}
.profile-banner {
  position:relative;
  border-top: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.profile-banner .avatar {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  height: 150px;
  left: 20px;
  padding: 4px;
  position: absolute;
  top: 90px;
  width: 150px;
  z-index: 50;
}
.profile-banner .overlay-wrap {
background-color: rgba(0, 0, 0, 0.4);
bottom: 0;
color: #FFFFFF;
left: 0;
position: absolute;
width: 100%;
font-family: 'Open Sans', sans-serif;
padding: 20px 0;
}
.profile-banner .overlay-wrap .left {
float: left;
margin-left: 200px;
}
.profile-banner .overlay-wrap .left h2 {
  font-size:28px;
  line-height:28px;
  margin: 0;
}
.profile-banner .overlay-wrap .left .name {
  margin-top: 10px;
  font-size:18px;
}
.profile-banner .overlay-wrap .amount {
float: right;
margin-right: 30px;
margin-top: 18px;
}
.profile-banner .overlay-wrap .amount a, .profile-banner .overlay-wrap .amount a:hover {
  color:#fff;
}
.profile-banner .overlay-wrap .amount .number {
  font-size:24px;
  font-weight:bold;
}
.profile-banner .overlay-wrap .amount .type {
  font-size:14px;
}
.profile-banner .banner {
  
}
.inner_box {

}
.inner_box .top_buttons {
  width: 100%;
  text-align: right;
}
.inner_box .info {
  font-size:14px;
  margin-top: 5px;
}
.inner_box .info .left {
float: left;
margin-right: 20px;
margin-top: 35px;
width: 300px;
}
.inner_box .info .right {
float: right;
padding-top: 5px;
text-align: right;
width: 249px;
}
.inner_box .info .right .steam-id {margin-bottom: 5px;}
.inner_box .info .right .fb-subscribe {margin-bottom: 5px;}
.inner_box .info .right .twitter-follow-button {}
.inner_box .separator {
  border-top: 1px solid #E3E3E3;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  clear:both;
}
.inner_box .last-active {
  font-size:13px;
  line-height:13px;
}

.profile-tabs ul.nav-tabs {
  border-bottom: 0 none;
  margin: 0 20px;
}
.profile-tabs ul.nav-tabs li {
  color:#a2a2a2;
  font-size:16px;
}
.profile-tabs ul.nav-tabs li a {
  color:#a2a2a2;
  border-color: #D4D4D4 #D4D4D4 transparent;
  /*background-color:#f1f1f1;*/
}
.profile-tabs ul.nav-tabs li.active {
  font-weight:normal;
}
.profile-tabs ul.nav-tabs li.active a {
  font-weight:normal;
  background-color: #fff;
}
.profile-tabs .inner_box {
  margin-top: 0;
}
.profile-tabs .tab-content .active {
  color:#9B9B9B !important;
  font-weight:normal;
  font-size:14px;
}
.profile-tabs .tab-content .active p {
  line-height:21px;
}



ul.teams-list {
  width: 100%;
float: none;
list-style:none;
margin: 0;
padding: 0;
}
ul.teams-list li {
float: left;
padding: 0;
margin: 0 21px 21px 0;
width: 178px;
}
ul.teams-list li.last {
  margin-right: 0;
}
ul.teams-list li span {
  color:#737373;
}
ul.teams-list li img.team-img {
float: none;
height: 184px;
margin: 0;
width: 184px;
}
ul.teams-list li h3 {
  font-size: 18px;
line-height: 18px;
margin: 10px 0 5px;
}
ul.teams-list li .game {
  float:left;
}
ul.teams-list li .tag {
  float:right;
}
ul.teams-list li .winloss, ul.teams-list li .period {
  clear:left;
  float:left;
}
ul.teams-list li .winloss .win {
  color:#489818;
}
ul.teams-list li .winloss .loss {
  color:#C33D3C;
}
ul.teams-list li .rpi {
  float:right;
  clear:right;
}

/*-------------------------------------------
------ FORMS AND INPUTS
-------------------------------------------*/

input, button, select, textarea {
  font-family: 'Open Sans',sans-serif;
}

.form {
  background: #fefefe;
  color: #333;
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
}

textarea[class*="span"], textarea, input[type="week"], input[type="url"], input[type="time"], input[type="text"], input[type="tel"], input[type="search"], input[type="password"], input[type="number"], input[type="month"], input[type="email"], input[type="datetime-local"], input[type="datetime"], input[type="date"], input[type="color"], input[class*="span"], .uneditable-input[class*="span"], .uneditable-input
{
    height: 30px!important;
}
select[class*="span"], select
{
    margin-top: 10px;
    height: 36px!important;
}

input.holder {
  color: #ccc;
  height: 30px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
  font-size: 14px;
}

/*-------------------------------------------
------ COMMENTS
-------------------------------------------*/
ul#player_comments {

}
ul#player_comments li.comments {
  
}
ul#player_comments li.comments p {
  font-size:14px;
}

/* this is site-wide customizations */

/*Change alignment of icon in header notification */
.btn-large [class^="icon-"] {
  margin-top: 5px;
}


.user-function {
  height: 38px;
  min-width: 100px;
  padding-top: 6px;
  margin-left: 6px;
}
.btn-toolbar {
  margin: 0px;
  text-align: right;
}

#bullets {
  color: #c8c8c8;
  font-weight: bold;
}
.center {
  text-align: center;
}

a.dashboard {
  color: #333;
  margin-left: 6px;
}
.font-source {
  font-family: "Source Sans Pro";
}
.navbar-division {
  margin-bottom: 0px;
}

.rightspace12 {
  padding-right: 12px;
}
#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.social-space {
  padding-right: 2px;
}

.navi {
  color: #9a9aa2;
  font-size: .9em;
}
.navi-active {
  color: #FFF;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f55858), color-stop(1, #cb2320) );
  background: -moz-linear-gradient( center top, #f55858 5%, #cb2320 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55858', endColorstr='#cb2320');
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
}
.navi-active:hover {
  color: #FFF;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f55858), color-stop(1, #cb2320) );
  background: -moz-linear-gradient( center top, #f55858 5%, #cb2320 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55858', endColorstr='#cb2320');
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background-color: #cb2320;
}
.navi:hover {
  color: #FFF;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f55858), color-stop(1, #cb2320) );
  background: -moz-linear-gradient( center top, #f55858 5%, #cb2320 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55858', endColorstr='#cb2320');
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background-color: #cb2320;
  text-shadow: none;
}


.gameicon {
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 0;
  border-color: #c8c8c8;
  border-radius: 2;
}
.navigation-header-box {
  border: 1px solid #c8c8c8;
  border-bottom: 0;
  margin-top: 11px;
  background-color: #f7f7f7;
  height: 35px;
  width: 100%;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: .7em;
  color: #9b9b9b;
  font-weight: 700;
  line-height: normal;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
}

#home-matches-wrap {
  height: 100px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.scoreboard-front {
  margin-left: 20px;
}
.scoreboard-end {
  margin-left: 6px;
  width: 63px;
}
.scoreboard {
  margin-left: 6px;
}
#score-button {
  border: 1px solid #CCC;
  background-color: #fff;
  height: 83px;
  width: 140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: .7em;
  color: #9b9b9b;
  font-weight: 700;
  line-height: normal;
}
#score-button:hover {
  background-color: #fff;
}
#score-button-end:hover {
  background-color: #fff;
}
.shadow:hover {
  -moz-box-shadow: 1px 1px 2px #bbbaba;
  -webkit-box-shadow: 1px 1px 2px #bbbaba;
  box-shadow: 1px 1px 2px #bbbaba;
}
a.scorebutton:hover {
  text-decoration: none;
}
#score-line {
  width: 108px;
  height: 3px;
  margin-left: 28px;
  clear: both;
}
#score-team {
  margin-left: 7px;
  color: #981e1d;
  font-size: 1.1em;
  font-weight: 700;
  width: 100px;
}
#score-number {
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: 700;
  width: 15px;
  text-align: right;
}
#score-button-end {
  border: 1px solid #CCC;
  background-color: #fff;
  height: 83px;
  width: 63px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}
#score-number-matches {
  text-align: center;
  margin-top: 27px;
  color: #981e1d;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 16px;
}
#score-total {
  text-align: center;
  font-size: .7em;
  font-weight: 700;
  margin-top: 2px;
  color: #9b9b9b;
}
#score-logo {
  margin-top: 7px;
  margin-left: 7px;
  height: 18px;
  width: 18px;
}
#score-date {
  text-align: right;
  width: 106px;
  margin-top: 10px;
  float: left;
}
#score-level-status-wrap {
  width: 140px;
}
#score-team-wrap {
  width: 140px;
}
#score-level {
  padding-left: 8px;
  padding-right: 8px;
}
#score-status {
  margin-right: 10px;
  padding-bottom: 0px;
  margin-top: 3px;
}
#league-news-wrap {
  margin-top: 20px;
  width: 622px;
  margin-left: auto;
  margin-right: auto;
}
.league-news-full-box {
  padding-top: 12px;
  border: 1px solid #a5a5a5;
  border-top: 0px;
  background-color: #f7f7f7;
  width: 622px;
}
#league-news-header {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: 700;
  color: #9b9b9b;
}
#news-wrap-one {
  height: 148px;
  width: 200px;
  display: block;
}
#mini-news-image {
  height: 44px;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
#mini-news-transparent {
  position: absolute;
  margin-top: 12px;
  background-color: #000;
  height: 20px;
  width: 200px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.clear {
  clear: both;
}
.mini-news {
  margin-left: 12px !important;
  padding: 0px !important;
  border-left: 1px solid;
  border-color: #c8c8c8;
}
#mini-news-header {
  padding-left: 5px;
  padding-top: 0;
  margin-top: 0;
  font-weight: 700;
  color: #555555;
}
#mini-news-content {
  font-size: 1em;
  font-weight: 500;
  color: #8e8c8c;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding-right: 5px;
}
#mini-news-comments {
  padding-top: 5px;
  padding-left: 10px;
  font-size: .7em;
  font-weight: 500;
  color: #9d9d9d;
}
.more-news-box {
  border: 1px solid #a5a5a5;
  background-color: #f7f7f7;
  width: 622px;
  margin: 12px 0 12px;
  padding-bottom: 6px;
}
.more-news-header {
  padding-left: 6px;
  padding-top: 6px;
  font-size: .7em;
  font-weight: 600;
  color: #981E1D;
}
.morenewsspan {
  margin: 0;
}
.more-news-content {
  padding-top: 6px;
  font-size: .8em;
  font-weight: 500;
  color: #9d9d9d;
  width: 260px;
}
.more-news-readmore {
  padding-top: 6px;
  font-size: .8em;
  color: #981E1D;
  width: 97px;
  font-style: italic;
}
.more-news-numbers {
  padding-top: 6px;
  font-size: .8em;
  color: #9d9d9d;
  width: 10px;
}
#header-text {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: 700;
  color: #9b9b9b;
}
.shadowplain {
  -moz-box-shadow: inset 0 0 3px #bbbaba;
  -webkit-box-shadow: inset 0 0 3px #bbbaba;
  box-shadow: inset 0 0 3px #bbbaba;
}
.container-fluid {
  padding-left: 0px;
  margin-left: 0px;
}


#logoupload {
  height: 20px!important;
  width: 86px!important;
}
input.social {
  height: 30px;
  width: 179px;
}
.rulescontent {
  text-align: justify;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: .75em;
}
span.steamid {
  height: 18px;
  border: 1px solid #CCCCCC;
  line-height: 20px;
  padding: 10px 6px;
  border-radius: 3px 3px 3px 3px;
}

img.activity {
  width: 48px;
  height: 48px;
}
.activity td {
  padding: 4px;
  min-width: 20px;
  white-space: normal;
}
.stats table, td {
  vertical-align: middle!important;
}
.input-prepend #prependedInput {
  height: 30px;
}
.input-append .add-on, .input-prepend .add-on {
  height: 18px;
  padding-top: 6px;
}

.table th .center, .table td .center {
  text-align: center;
}
p.notifications {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
  color: #000;
  font-weight: 400;
}
.progress {
  margin: 0;
}
.progress .bar {
  text-align: right;
  padding-right: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
}
.white {
  background-color: #F9F9F9;
}
#triggers .img {
  border: 0;
}
img.feed {
  height: 64px;
  width: 64px;
  margin-right: 4px;
  float: left;
}
.feed_content {
  font-family: 'Open Sans';
  font-size: 1.2em;
  min-height: 40px;
}
.feed_content a.followed {
  font-weight: bold;
  color: #981E1D;
}
.feed_content a {
  color: #252525;
}
.feed_time {
  float: right;
  padding: 2px;
}
img.loading {
  background-image: url("/img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.popover-content .btn {
  height: 40px;
}
img.smallthumb {
  height: 40px;
  width: 40px;
}
.well {
  padding: 21px;
}
.full {
  width: 100%;
  max-width: 100%;
}
.drop-caret {
  height: 16px;
  margin-top: -45px;
}
.drop-caret i {
  opacity: 0.5;
}
table.table-stats th a {
    color:#fff;
} 
table.table-stats th a.btn {
    color:#555;
} 

table.table-striped a {
  font-weight: bold;
  color: #555;
}
table.table-striped a.btn {
    color: #fff;
}

table.table-striped th a.help {
    color: #fff;
}
a {
  cursor: pointer;
}
.btn-follow {
  width: 120px;
}
.dashboard-avatar {
  cursor: pointer;
}
.dashboard-avatar-loader {
  position: absolute;
  top: 80px;
  left: 80px;
}
.twitter-element img {
  cursor: pointer;
}
select {
  height: 40px;
}
.img-header {
  min-height: 50px;
  max-height: 50px;
  min-width: 100%;
}
.dropdown-menu li.title {
  display: block;
  clear: both;
  padding: 3px 20px;
  white-space: nowrap;
  font-weight: bold;
}
#dashboardChallenges img {
  height: 40px;
  width: 40px;
}

.aboutladder {
  margin-top: 14px;
  font-size: .75em;
}
.img-profile {
  width: 184px;
  height: 184px;
}
.img-profile-small {
  width: 40px;
  height: 40px;
}
.btn-danger {
    color: #fff !important;
}
.btn-red {
  background-color: hsl(0, 78%, 21%) !important;
  background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#831010", endColorstr="#5f0b0b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#831010), to(#5f0b0b));
  background-image: -moz-linear-gradient(top, #831010, #5f0b0b);
  background-image: -ms-linear-gradient(top, #831010, #5f0b0b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #831010), color-stop(100%, #5f0b0b));
  background-image: -webkit-linear-gradient(top, #831010, #5f0b0b);
  background-image: -o-linear-gradient(top, #831010, #5f0b0b);
  background-image: linear-gradient(#831010, #5f0b0b);
  border-color: #5f0b0b #5f0b0b hsl(0, 78%, 19%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
  -webkit-font-smoothing: antialiased;
}
.btn-action {
  background-color: hsl(95, 84%, 22%) !important;
  background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#418c0c", endColorstr="#306708");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#418c0c), to(#306708));
  background-image: -moz-linear-gradient(top, #418c0c, #306708);
  background-image: -ms-linear-gradient(top, #418c0c, #306708);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #418c0c), color-stop(100%, #306708));
  background-image: -webkit-linear-gradient(top, #418c0c, #306708);
  background-image: -o-linear-gradient(top, #418c0c, #306708);
  background-image: linear-gradient(#418c0c, #306708);
  border-color: #306708 #306708 hsl(95, 84%, 20%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
  -webkit-font-smoothing: antialiased;
}
.btn {
  white-space: nowrap;
}
h1 select {
  height: 30px;
}
.pad2 {
  padding: 2px !important;
}
.pad4 {
  padding: 4px !important;
}
.pad6 {
  padding: 6px !important;
}
.pad8 {
  padding: 8px !important;
}
.pad10 {
  padding: 10px !important;
}
.media-object
{
    width: 64px !important;
    height: 64px !important;
}
.stButton .chicklets
{
    padding-left: 10px !important;
}
.reply-close
{
    margin-right: 2px;
    margin-top: -78px;
}
.stButton .twitter
{
    margin-top: 2px
}

.tooltip 
{
  opacity: 1;
  filter: alpha(opacity=100);
  font-weight: 100;
  text-shadow: none;
}
.accordion-group
{
    border-radius: 0px;
    margin-bottom: 0px;
}
.redactor_editor, 
.redactor_editor:focus
{
    min-height: 450px;
    height: 450px;
}
.betabackground
{
    background-image: none;
    background-color: #000;
}
.beta_login
{
    background-color: #f7f7f7;
    border-radius: 4px;
}
.game-img
{
    width: 120px;
    height: 120px;
}
.avatar img 
{
    width: 150px;
    height: 150px;
}

.msgbar {
    background-color:#980000;
    border-bottom:1px solid #aaa;
    color:#fff;
    text-align:center;
    padding: 10px 0 10px 0;
    text-shadow: 1px 1px 0 #730000;
    font-size:14px;
    font-weight:normal;
}
.msgbar a {
    color:#fff;
    text-decoration:none;
}

.largeTooltip {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
}

.largeTooltipActive {
   display:block;
   background:#000;
   color:#fff;
   
   width: 300px;
   height: 100px;

   background: #981E1D;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
}

.tooltipAvatar {
	float: left;
	margin: 5px 15px 5px 5px;
	border: 5px solid rgba(0,0,0,0.2);
	z-index: 5;
	position: relative;
        width:80px;
        height:80px;
}

.largeTooltipActive .info h2 {	
	color: white;
	font: bold 17px/34px Arial;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	margin: 0;
}

.largeTooltipActive .info p {	
	font: 12px/14px Arial, sans-serif;
	color: #aaa;
	margin-top: 0;
}

.largeTooltipActive:before {
    content: '';
    position: absolute;
    top:100px;
    background:#fff;
    width:300px;
    height:20px;
    opacity:0;
}

.largeTooltipActive:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 20px;
	height: 20px;
	background: #0d6f8a;
	left: 40px;
        
   background: #981E1D;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

	
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
}

/* Some initial styling */


#searchBox {
	width: 300px;
	height: 37px;
	position: relative;
        float:right;
        margin-top:20px;
}

/* Ok, HTML markup is complete */
/* submit button will also be the same but with a different color. We'll style the label and the submit input */
/* a faky 3D look */

#submit {
	display: none;	
}

#searchBox .icon, #searchBox .submit {
	width: 35px;
	height: 35px;
	background: #F2F2F2;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow:
		0px 8px 10px rgba(0, 0, 0, 0.5);
        margin-bottom:5px;
}

#searchBox .submit {
	background: #B31919;
	cursor: pointer;
	box-shadow:
		0px 8px 10px rgba(0, 0, 0, 0.5);
}

#searchBox .icon-search {
    color:#000;
    position:relative;
    top:7px;
    left:9px;
}

/* Now, we'll create a search (magnifying glass) icon using pseudo elements */
/*
#searchBox .icon:after, #searchBox .submit:after  {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px solid #333333;
	border-radius: 50%;
	left: 10px;
	top: 9px;
}
*/
/*
#searchBox .icon:before, #searchBox .submit:before {
	content: '';
	position: absolute;
	height: 8px;
	width: 2px;
	background: #333333;
	transform: rotate(-35deg);
	top: 19px;
	left: 21px;
}
*/
/*
#searchBox .submit:after  {
border: 2px solid #FFFFFF;
}
*/
/*
#searchBox .submit:before {
	content: '';
	position: absolute;
	height: 8px;
	width: 2px;
	background: #FFFFFF;
	transform: rotate(-35deg);
	top: 19px;
	left: 21px;
}
*/

/* Styling the input */
#search {
	-webkit-appearance: none;
	height: 25px !important;
	width: 0;
	position: absolute;
	padding: 5px !important;
	opacity: 0;
	border: none;
	outline: none;
	position: absolute;
	right: 35px;
	box-shadow:
		0px 8px 10px rgba(0, 0, 0, 0.5);
}
            
/* remove rounded buttons  */
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-radius: 0;
}

.btn-group > .btn:first-child {
    border-radius: 0;
}
.btn-large {
    border-radius: 0;
}


/* Show/Hide Challenge link on ladder*/
a.do_challenge { display: none; }
td.challenge_link:hover a.do_challenge {  display: block; }

table.table-striped a.label { color: #fff;}

.dropdown-submenu > a:after {
    margin-right: -5px;
}